body
{
	margin: 0px;
	padding: 0px;
	background-color: #B4DCC0;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	font-family: "lucida sans unicode", "lucida grande", sans-serif;
}

p, ul, ol { font-size: 14px !important; }
p a, ul a, ol a { color: #4ea15a; }
p a:hover, ul a:hover, ol a:hover { text-decoration: none; }

#home-widgets
{
	float: right;
	width: 320px;
	text-align: center;
}

#home-copy { margin-right: 340px; }

#home-widgets img
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#login-box
{
	position: relative;
	height: 100px;
	margin-top: 20px;
}

#login-box input[type="text"], #login-box input[type="password"] { width: 200px; }

.login-panel
{
	position: absolute;
	top: 0px;
	width: 46%;
	text-align: center;
}

#login-all { left: 20px; }
#login-cu { right: 20px; }

form
{
	margin: 0px;
	padding: 0px;
}

form.login
{
	background-color: #b3dcbf;
	border: 1px solid #4ba257;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px 20px 20px;
	font-weight: bold;
	font-size: 12px;
	color: #666;
	margin-bottom: 20px;
	height: 110px;
}

form.cu
{
	background-color: #9ec3de;
	border: 1px solid #7494c4;
}

form.login .formtitle
{
	font-size: 14px;
	margin-bottom: 10px;
	color: #fff;
}

form.login .formrow { margin-top: 10px; }

form.login label
{
	width: 120px;
	display: block;
	float: left;
	text-align: right;
	color: #000;
}

#container
{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 980px;
	margin-left: -490px;
	background-color: #fff;
}

.printonly {
    display: none;
}

/*start - header*/
#header
{
	position: relative;
	height: 70px;
	border-bottom: 1px solid #ccc;
}

#header h1, #header h1 a
{
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	width: 250px;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

#header h1
{
	background-image: url(../images/logo_masivukeni.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#header img.logo {
    display: none;
}

h2
{
	color: #f6921e;
	margin-top: 10px;
	padding:0px;
}

h3 
{ 
	margin-top: 10px;
	padding: 0px;
	color: #f6921e;
	font-size: 24px;
}

h4
{
	color: #000;
	border-bottom: 1px solid #4ea15a;
	font-size: 18px;
	clear: both;
}

/*stop - header*/
/*start - nav-header*/
#deployment { color: #000; }

#nav-header
{
	position: absolute;
	right: 20px;
	top: 24px;
	text-align: right;
}

#nav-header ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 12px !important;
	font-weight: bold;
}

#nav-header ul li
{
	display: inline;
	margin-left: 10px;
	color: #f3912f;
}

#nav-header ul li a:link
{
	color: #f3912f;
	text-decoration: none;
}

#nav-header ul li a:hover
{
	color: #f3912f;
	text-decoration: underline;
}

#nav-header ul li a:active
{
	color: #dcc635;
	text-decoration: underline;
}

#nav-header ul li a:visited
{
	color: #f3912f;
	text-decoration: none;
}

/*stop - nav-header*/
/*start - breadcrumb*/
#breadcrumb-main
{
	margin: 0px;
	padding: 5px 0px 5px 10px;
	background-image: url(../images/shadow.png);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	color: #000;
	font-size: 12px;
}

#breadcrumb-main a
{
	font-size: 12px;
	text-decoration: underline;
	color: #000;
}

#breadcrumb-main a:hover
{
	font-size: 12px;
	text-decoration: none;
	color: #000;
}

#breadcrumb
{
	position: relative;
	margin: 0px;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
}

#breadcrumb a#tab-home
{
	display: block;
	width: 90px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #f3912f;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 0px 6px 40px;
	margin: 0px 0px -1px 10px;
}

#breadcrumb a#tab-home:hover, #breadcrumb a.current#tab-home
{
	display: block;
	width: 90px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 0px 6px 40px;
	margin: 0px 0px -1px 10px;
}

a#endintervention
{
	width: 220px;
	padding: 8px 0px 16px 24px;
	background-image: url(../images/icon_complete.png);
	background-repeat: no-repeat;
	background-position: 8px 7px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: absolute;
	top: 54px;
	right: 233px;
}

#breadcrumb a#tab-home
{
	/*
	background-color: #fcead7;
	color: #000;
	*/
	background-color: #f3912f;
	color: #fff;
}

#breadcrumb a#tab-home:hover
{
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid #fff;
}

#breadcrumb a.current#tab-home
{
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid #fff;
}

#breadcrumb-text
{
/*	display: block; */
	display: none; 
	position: absolute;
	left: 170px;
	top: 16px;
	font-size: 12px;
}

.breadcrumb-text-current { font-weight: bold; }

/*stop - breadcrumb*/
#contentcontainer
{
	position: relative;
	padding: 0px 30px 0px 30px;
	min-height: 800px;
}

h2#sessioninfo
{
	display: block;
	position: absolute;
	left: 11px;
	top: -2px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding: 6px 20px 6px 40px;
	width: 400px;
}

h2#sessioninfo a
{
text-decoration: none;
color: #000;
}

h2#sessioninfo a:hover
{
text-decoration: underline;
}

/*start - nav-side*/
#nav-side
{
	position: absolute;
	left: 10px;
	top: 48px;
	width: 260px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

#nav-side ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}

#nav-side ul li
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	line-height: 18px;
}

#nav-side ul li a
{
	display: block;
	padding: 6px 50px 6px 40px;
	background-color: #fcead7;
	font-weight: normal;
}

#nav-side ul li a:link
{
	text-decoration: none;
	color: #000;
}

#nav-side ul li a:hover
{
	text-decoration: underline;
	color: #000;
}

#nav-side ul li a:active
{
	text-decoration: none;
	color: #fff;
}

#nav-side ul li a:visited
{
	text-decoration: none;
	color: #000;
}

#nav-side ul li a.current
{
	background-color: #fff;
	color: #f3912f;
}

#nav-side ul li a.first
{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#nav-side ul li a.last
{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 0px !important;
}

/*start - tables*/
table.manage
{
	border-collapse: collapse;
	width: 100%;
}

table.manage a
{
	color: #4ea15a;
}

table.manage a.action
{
	color: #fff;
}

table.manage col#firstname { width: 25%}
table.manage col#status { width: 25%}
table.manage col#actions { width: 50%}

table.manage th, table.manage td {vertical-align: top;}

table.manage th
{
	border: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	padding: 8px 4px 8px 4px;
}

table.manage td
{
	border: 1px solid #ccc;
	text-align: center;
	padding: 8px 4px 8px 4px;
}

table.manage a.action
{
    float: left;
    margin-left: 10px;
    width: 190px;
}

.addcell {background-color: #ccc;}
table#choices { margin-top: 20px; }

table#choices td
{
	padding: 5px;
	vertical-align: top;
}

/*stop - tables*/
/*stop - nav-side*/
#content
{
	margin-left: 280px;
}

#content img.inlineimage
{
	float: right;
	margin: 0px 0px 20px 20px;
	padding: 10px;
	-moz-box-shadow: 0px 0px 6px #666;
	-webkit-box-shadow: 0px 0px 6px #666;
	box-shadow: 0px 0px 6px #666;
	max-width: 275px;
}

a.action
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background-color: #4ba257;
	width: 180px;
	display: block;
	text-align: center;
}

a.action:hover, a.action.disabled { background-color: #79b985; }

.nav-lateral
{
	text-align: right;
	height: 40px;
}

.nav-lateral a
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background-color: #4ea15a;
	display: block;
	float: right;
	margin-left: 10px;
}

.nav-lateral a#top
{
	float: left;
	margin-left: -2px;
}

.nav-lateral a.complete
{
	background-image: url(../images/icon_complete.png);
	background-repeat: no-repeat;
	background-position: 8px 7px;
	padding-left: 34px;
}

.nav-lateral a:hover { background-color: #79b985; }

#top-nav-lateral
{
	margin-top: 0px;
	padding: 10px 0px 0px 0px;
	border-bottom: 1px solid #aaa;
}

#bottom-nav-lateral
{
	margin-top: 40px;
	clear: both;
	border-top: 1px solid #aaa;
	padding-top: 10px;
}

#footer
{
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	padding: 10px 0px 10px 0px;
	margin: 40px 0px 40px 0px;
}

#footer a
{
	color: #f3912f;
	text-decoration: none;
}

#footer a:hover
{
	color: #f3912f;
	text-decoration: underline;
}

/* start - icons */
.default
{
	background-image: url(../images/icon_default.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
}

.complete
{
	background-image: url(../images/icon_complete.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
}

.incomplete
{
	background-image: url(../images/icon_incomplete.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
}

li span.task
{
	position: absolute;
	top: 10px;
	right: 5px;
	width: 35px;
	height: 15px;
	background-image: url(../images/icon_task.png);
	background-repeat: no-repeat;
	display: block;
	text-indent: -9999px;
}

/*start - session navigator on home page*/
#navigator
{
	width: 910px;
	min-height: 740px;
	position: relative;
	margin-top: -20px;
	clear: both;
}

#navigator ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	height: 100%;
}

#navigator ul.primary
{
	width: 450px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#navigator ul.secondary
{
	width: 440px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #fcead7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#navigator ul li
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#navigator ul li a
{
	display: block;
	padding: 5px 20px 5px 40px;
	font-weight: normal;
}

#navigator ul li a.first
{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#navigator ul li a.last
{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 0px !important;
}

#navigator ul.primary li a
{
	margin-bottom: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

#navigator ul.primary li a.current
{
	text-decoration: none !important;
	color: #000 !important;
	background-color: #fcead7 !important;
	width: 100%;
}

#navigator ul.primary li a:link, #navigator ul.primary li a:visited
{
	text-decoration: none;
	color: #fff;
	background-color: #f3912f;
}

#navigator ul.primary li a:hover, #navigator ul.primary li a:active
{
	text-decoration: none;
	color: #000;
	background-color: #fcead7;
}

#navigator ul.secondary li a { }

#navigator ul.secondary li a:link, #navigator ul.secondary li a:visited
{
	text-decoration: none;
	color: #000;
}

#navigator ul.secondary li a:hover, #navigator ul.secondary li a:active
{
	text-decoration: underline;
	color: #000;
}

/*stop - session navigator on home page*/
p
{
	font-size: 14px;
	text-align: justify;
	line-height: 18px;
}

#footer p
{
	font-size: 12px;
	text-align: center;
	line-height: 14px;
}

#all-task-pages
{
	display: none;
	/*not for public consumption--just for programming*/
}

#messaging, .messaging
{
	background-color: #f9f5d2;
	padding: 10px;
	border: 1px solid #f7941e;
}

#messaging
{
	width: 190px;
	float: right;
	margin-right: -210px;
	position: relative;
	min-height: 402px;
	display: none;
}

#game-content
{
	border: 1px solid #ccc;
	width: 545px;
	overflow: hidden;
	height: 455px;
}

#game-content .video
{
	text-align: center;
	margin-top: 5px;
}

.game_instructions { margin: 0 0 20px 5px; }

container-home
{
	width: 800px;
	background-color: #FFF;
	margin: 0px auto;
	border: 1px solid #dedede;
	background-image: url(../images/home_bg.jpg);
	background-repeat: repeat-x;
}

#content-left-home
{
	padding: 20px;
	margin-right: 15px;
	width: 380px;
	height: 420px;
	text-align: center;
}

#content-right-home
{
	width: 380px;
	float: right;
	padding: 100px 10px 0px 10px;
	text-align: center;
}

table#login_form { width: 100%; }
table#login_form td.field { text-align: left; }

table#login_form td.label
{
	padding: 12px;
	text-align: right;
}

table#login_form td.button { 12px 12px 12px 90px: ; }

a.session_off:hover { background-image: url(../images/button_tall_gray_over.png); }
a.session_next:hover { background-image: url(../images/button_tall_green_over.png); }
a.session_complete:hover { background-image: url(../images/button_tall_orangecheck_over.png); }

a.session_complete
{
	width: 207px;
	height: 88px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	background-image: url(../images/button_tall_orangecheck.png);
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	margin: 0 10px 20px 30px;
	text-transform: capitalize;
	float: left;
}

a.session_complete .titletext
{
	width: 138px;
	margin: 13px 38px 13px 18px;
}

a.session_next
{
	width: 207px;
	height: 88px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	background-image: url(../images/button_tall_green.png);
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	margin: 0 10px 20px 30px;
	text-transform: capitalize;
	float: left;
}

p.instructions { margin-bottom: 35px; }

.instruction_style
{
	font-weight: bold;
	font-style: italic;
	color: #333;
	font-size: 12px;
	text-transform: capitalize;
	margin-bottom: -3px;
	display: block;
}

/*ADMIN*/
#subitem-management li p
{
	display: block;
	float: left;
}

#subitem-management ul.form-list > li
{
	clear: both;
	border: 2px solid black;
	display: block;
	width: 700px;
	padding-left: 40px;
	height: 18em;
	/*cursor:move;*/
}

#subitem-management ul.field-list > li
{
	display: block;
	float: left;
	padding: 2px 5px 2px 5px;
}

#subitem-management :target { background-color: #add8ba; }

.admin_link
{
	border: 1px solid #c20005;
	background-color: pink;
	padding: 5px;
	margin: 0 5px 5px 0;
	color: #c20005;
	text-transform: capitalize;
	float: right;
}


/*.say { font-style: italic; } */

.say ul, .do ul, .None ul
{
	margin: 0px;
	list-style-type: disc;
}

.no-bullets > li { list-style-type: none; }
#home-remote { display: none; }
body.logged-in #home-remote { display: block; }

#home-content
{
	border: 1px solid #ccc;
	overflow: hidden;
	padding: 15px;
	width: 510px;
}

.practice-mode
{
	background-color: #ffc;
	color: black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #f3912f;
	margin: 10px;
	font-size: 12px;
	font-weight: bold;
}

.error
{
	background-color: #f99;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid red;
}

#completeactivity {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	background-color: #f8ece0;
}

#suggestedtime
{
	font-size: 12px;
	font-weight: bold;
	background-image: url(../images/clock-icon.jpg);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	margin: 16px 0px 0px 0px;
	padding: 4px 4px 4px 30px;
	color: #666;
	width: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	float: right;
	text-align: left;
}

#suggestedtime > * {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #666;
	text-align: left;
}

#btn-get-started {
    cursor: pointer;
    margin: 2.5em 16em;
}

#endintervention {float: right; padding-right: 10px;} 	   

table#gamenav
{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
	background-color: #4ba257;
	font-size: 12px;
	width: 100%;
}

table#gamenav td
{
	padding: 5px;
	color: #fff;
}

table#gamenav td a
{
	text-decoration: none;
	color: #fff;
}

table#gamenav td a:hover
{
	text-decoration: underline;
}

table#gamenav td#left
{
text-align: left;
width: 33%;
}

table#gamenav td#center
{
text-align: center;
width: 34%;
}

table#gamenav td#right
{
text-align: right;
width: 33%;
}

#gamebox
{
	position: relative;
	min-height: 350px;
}

#closemessage
{
	background-image: url(../images/starburst.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	padding: 30px;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	-moz-box-shadow: 0px 2px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 2px 0px #000;
	box-shadow: 0px 2px 2px 0px #000;
	z-index: 1;
}

#adminsubnav
{
background-color: #999;
background: #ccc; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#ffffff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#fff)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #999,  #fff); /* for firefox 3.6+ */ }

#adminsubnav a

{
	color: #666;
	text-decoration: none;
	margin: 0px;
	padding: 3px 3px 0px 3px;
	font-size: 9px;
	font-weight: bold;
	background-color: #eee;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: inline-block;
	height: 18px;
}
#adminsubnav a:hover

{
	color: #f6921e;
	background-color: #fff;
}
