body {
    background: none;
}

#side, #breadcrumb, #breadcrumb-main, #nav-header, .nav-lateral, #footer {
    display: none;
}

.printonly {
    display: block;   
}

#header {
    margin-left: 75px;
    margin-top: 100px;
}

#header h1 {
    display: none;
}

#header img.logo {
    display: block;
    width: 250px;
    height: auto;
    margin-top: 10px;
}

#content {
    margin-left: 50px;
}

#gamebox {
    max-width: 825px;
}

