body {
    background: none;
}

#side, #breadcrumb, #breadcrumb-main, #nav-header, .nav-lateral, #footer {
    display: none;
}

.printonly {
    display: block;   
}

#header {
    margin-left: 80px;
    margin-top: 75px;
}

.practice-mode {
    display: none;
}


#suggestedtime {
    display: none;
}


#header h1 {
    display: none;
}

#header img.logo {
    display: block;
    width: 250px;
    height: auto;
    margin-top: 10px;
}

#content {
   padding: 0px 50px 50px 50px;
   margin: 0px;
}

#gamebox {
    max-width: 825px;
}

#content img.inlineimage
{
	float: right;
	margin: 0px 0px 20px 20px;
	padding: 10px;
	border: 1px solid #666;
	max-width: 275px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
