
/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }


/**************
   ADMIN SECTION (sky)
***************/
#subitem-management p { 
                        display:block;
                        /*float:left;*/
 }

#subitem-management li { 
                         clear:both;
 }

/************
END ADMIN SECTION (sky)
*****************/
