{% extends "intervention/game.html" %}

{% block game_js %}
    <script type="text/javascript" src="{{STATIC_URL}}assessmentquiz_task/js/quiz.js"></script> 
{% endblock %}

{% block game_css %}
    <link href="{{STATIC_URL}}assessmentquiz_task/css/assessmentquiz_task.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}assessmentquiz_task/css/assessmentquiz_task.print.css" rel="stylesheet" type="text/css" media="print"  />
{% endblock %}

{% block game_content %}
{% if game.activity.clientsession.defaulter %}
    <div id="defaulter" style="display: none">True</div>
{% endif %}

<a name="score"></a>
<div id="interpretation" style="display: none">

	<h5>
		Interpretation of Total Score
	</h5>
	
	<ul id="interpretation_range" class="drug">
	
		<li id="r0">
		  <div class="script">There are no issues.</div>
		</li>
		
		<li id="r1">
            <div class="script">
                It seems like your drug use could be causing some serious problems for you, which could get in the way of you taking your ARVs and staying healthy. At the end of our Masivukeni session, I am going to give some information about whom you can talk to about your drug use to ensure it doesn't interfere with your life and get in the way of you staying healthy.
            </div>
		</li>
	</ul>
</div>

<div id="quiz">
     <form id="assessmentquiz">
       <input type="hidden" name="section" value="drugaudit" />
       <ol>
	 <li>
	   <div class="q">In the past year, how often did you use non-prescription drugs (e.g., Dagga, Mandrax, Tik) to get high or to change the way you feel?
	   </div>
	   <ol class="a" type="a">
	     <li>
	       <input type="radio" name="q1" value="0" />
	       Never
	     </li>
	     <li>
	       <input type="radio" name="q1" value="1" />
	       Less than monthly
	     </li>
	     <li>
	       <input type="radio" name="q1" value="2" />
	       Monthly
	     </li>
	     <li>
	       <input type="radio" name="q1" value="3" />
	       Weekly
	     </li>
	     <li>
	       <input type="radio" name="q1" value="4" />
	       Daily or almost daily
	     </li>
	   </ol>
	 </li>

	 <li>
	   <div class="q">In the past year, how often did you use drugs prescribed to you or to someone else (e.g., Valium) to get high or change the way you feel? 

	   </div>
	   <ol class="a" type="a">
	     <li>
	       <input type="radio" name="q2" value="0" />
	       Never
	     </li>
	     <li>
	       <input type="radio" name="q2" value="1" />
	       Less than monthly
	     </li>
	     <li>
	       <input type="radio" name="q2" value="2" />
	       Monthly

	     </li>
	     <li>
	       <input type="radio" name="q2" value="3" />
	       Weekly

	     </li>
	     <li>
	       <input type="radio" name="q2" value="4" />
	       Daily or almost daily

	     </li>
	   </ol>
	 </li>
	 <li>
	   <div class="q">In the past year, how often did you use drugs more than you meant to? 

	   </div>
	   <ol class="a" type="a">
	     <li>
	       <input type="radio" name="q3" value="0" />
	       Never
	     </li>
	     <li>
	       <input type="radio" name="q3" value="1" />
	       Less than montly
	     </li>
	     <li>
	       <input type="radio" name="q3" value="2" />
	       Monthly
	     </li>
	     <li>
	       <input type="radio" name="q3" value="3" />
	       Weekly
	     </li>
	     <li>
	       <input type="radio" name="q3" value="4" />
	       Daily or almost daily
	     </li>
	   </ol>
	 </li>
	 <li>
	   <div class="q">How often did you feel you wanted or needed to cut down on your drug use in the past year, and were not able to? 
	   </div>
	   <ol class="a" type="a">
	     <li>
	       <input type="radio" name="q4" value="0" />
	       Never 
	     </li>
	     <li>
	       <input type="radio" name="q4" value="1" />
	       Less than monthly 
	     </li>
	     <li>
	       <input type="radio" name="q4" value="2" />
	       Monthly 
	     </li>
	     <li>
	       <input type="radio" name="q4" value="3" />
	       Weekly 
	     </li>
	     <li>
	       <input type="radio" name="q4" value="4" />
	       Daily or almost daily
	     </li>
	   </ol>
	 </li>
     </form>
     
<div align="center" style="margin: 20px 0px 20px 0px;">
<a id="reveal_score" href="#score" class="action inactive">What is My Score?</a>
</div>

</div>

{% endblock %}
