{% extends "intervention/game.html" %}

{% block game_js %}
  <script type="text/javascript" src="{{STATIC_URL}}assessmentquiz_task/js/quiz.js"></script> 
{% endblock %}
{% block game_css %}
  <link href="{{STATIC_URL}}assessmentquiz_task/css/assessmentquiz_task.css" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}assessmentquiz_task/css/assessmentquiz_task.print.css" rel="stylesheet" type="text/css" media="print"  />
{% endblock %}

{% block game_content %}
{% if game.activity.clientsession.defaulter %}
    <div id="defaulter" style="display: none">True</div>
{% endif %}

<a name="score"></a>
<div id="interpretation" style="display: none">

	<h5>
		Interpretation of Total Score
	</h5>
	
	<ul id="interpretation_range" class="mood">
	
		<li id="r10">
		
		<!--10-19:--><div class="headline">There is no significant distress.</div> 
		
		</li>
		
		<li id="r20">
		
		<!--20-24:--><div class="headline">Mild distress.</div> 
		
		<div class="script">
			It seems like you are having some distress. Distress like this can affect how you feel (e.g., depression and/or anxiety) and can get in the way of getting things done, like taking your ARVs. There are people trained (e.g., psychologists, social workers, counselors) to talk to you and help you feel better. Would you like to talk with someone? If so, I can give you information at the end of our session today. 
		</div>
		
		</li>
		
		<li id="r25">
		
		<!--25-29:--><div class="headline">Moderate distress.</div> 
		
		<div class="script">
			It seems like you are experiencing some distress. Distress like this can affect how you feel (e.g., depression and/or anxiety) and can get in the way of accomplishing everyday things, like taking your ARVs. You don't have to feel this way. In fact, there are people trained (e.g., psychologists, social workers, counselors) to talk to you and help you feel better and not let your distress get in your way. At the end of the session today, I'm going to give you some information on whom to talk to. 
		</div>
		</li>
		
		<li id="r30">		
		<!--30-50:--><div class="headline">Severe distress.</div>
		<div class="script">
			It seems like you're really experiencing a lot of distress, which may be affecting your life. So much distress like this can affect how you feel (e.g., depression and/or anxiety) and can get in the way of accomplishing everyday things, like taking your ARVs. You don't have to feel this way. In fact, there are people trained (e.g., psychologists, social workers, counselors) to talk to you and help you feel better and not let your distress get in your way. At the end of the session today, I'm going to give you some information on whom to talk to. 
		</div>
		</li>
		
	</ul>
	
</div>

     
     
   <div id="quiz">   

<p>During the past month, that is, from [date
one month ago] to yesterday, about how often did you feel:</p>
   
<form id="assessmentquiz">
<input type="hidden" name="section" value="kten" />

<table cellspacing="0">

<thead>

<th colspan="2"></th>
<th>None of the time</th>
<th>A little of the time</th>
<th>Some of the time</th>
<th>Most of the time</th>
<th>All of the time</th>
</thead>

<tbody>

<tr>
<td>1.</td>
<td>Tired out for no good reason?</td>
<td><input name="q1" type="radio" value="1" /><!--1--></td>
<td><input name="q1" type="radio" value="2" /><!--2--></td>
<td><input name="q1" type="radio" value="3" /><!--3--></td>
<td><input name="q1" type="radio" value="4" /><!--4--></td>
<td><input name="q1" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>2.</td>
<td>Nervous?</td>
<td><input name="q2" type="radio" value="1" /><!--1--></td>
<td><input name="q2" type="radio" value="2" /><!--2--></td>
<td><input name="q2" type="radio" value="3" /><!--3--></td>
<td><input name="q2" type="radio" value="4" /><!--4--></td>
<td><input name="q2" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>3.</td>
<td>So nervous that nothing could calm you down?</td>
<td><input name="q3" type="radio" value="1" /><!--1--></td>
<td><input name="q3" type="radio" value="2" /><!--2--></td>
<td><input name="q3" type="radio" value="3" /><!--3--></td>
<td><input name="q3" type="radio" value="4" /><!--4--></td>
<td><input name="q3" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>4.</td>
<td>Hopeless?</td>
<td><input name="q4" type="radio" value="1" /><!--1--></td>
<td><input name="q4" type="radio" value="2" /><!--2--></td>
<td><input name="q4" type="radio" value="3" /><!--3--></td>
<td><input name="q4" type="radio" value="4" /><!--4--></td>
<td><input name="q4" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>5.</td>
<td>Restless or fidgety?</td>
<td><input name="q5" type="radio" value="1" /><!--1--></td>
<td><input name="q5" type="radio" value="2" /><!--2--></td>
<td><input name="q5" type="radio" value="3" /><!--3--></td>
<td><input name="q5" type="radio" value="4" /><!--4--></td>
<td><input name="q5" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>6.</td>
<td>So restless you could not sit still?</td>
<td><input name="q6" type="radio" value="1" /><!--1--></td>
<td><input name="q6" type="radio" value="2" /><!--2--></td>
<td><input name="q6" type="radio" value="3" /><!--3--></td>
<td><input name="q6" type="radio" value="4" /><!--4--></td>
<td><input name="q6" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>7.</td>
<td>Sad or depressed?</td>
<td><input name="q7" type="radio" value="1" /><!--1--></td>
<td><input name="q7" type="radio" value="2" /><!--2--></td>
<td><input name="q7" type="radio" value="3" /><!--3--></td>
<td><input name="q7" type="radio" value="4" /><!--4--></td>
<td><input name="q7" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>8.</td>
<td>So depressed that nothing could cheer you up?</td>
<td><input name="q8" type="radio" value="1" /><!--1--></td>
<td><input name="q8" type="radio" value="2" /><!--2--></td>
<td><input name="q8" type="radio" value="3" /><!--3--></td>
<td><input name="q8" type="radio" value="4" /><!--4--></td>
<td><input name="q8" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>9.</td>
<td>That everything was an effort?</td>
<td><input name="q9" type="radio" value="1" /><!--1--></td>
<td><input name="q9" type="radio" value="2" /><!--2--></td>
<td><input name="q9" type="radio" value="3" /><!--3--></td>
<td><input name="q9" type="radio" value="4" /><!--4--></td>
<td><input name="q9" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>10.</td>
<td>Worthless?</td>
<td><input name="q10" type="radio" value="1" /><!--1--></td>
<td><input name="q10" type="radio" value="2" /><!--2--></td>
<td><input name="q10" type="radio" value="3" /><!--3--></td>
<td><input name="q10" type="radio" value="4" /><!--4--></td>
<td><input name="q10" type="radio" value="5" /><!--5--></td>
</tr>

</tbody>

</table>

</form>

<div align="center" style="margin: 20px 0px 20px 0px;">
    <a id="reveal_score" href="#score" class="action inactive">What is My Score?</a>
</div>

</div>
     
{% endblock %}
