#gamebox { 
	height: 450px; /*set the box to the game's height*/
}

#lifegoalsbox { 
	position: absolute;
    background-image: url(/site_media/lifegoal_task/images/background-island.jpg);
    background-repeat: no-repeat;
    width: 100%;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
}

#lifegoals label
{
	color: #666;
	font-size: 10px;
}

#goal
{
	position: absolute;
	top: 20px;
	left: 400px;
}

#step1
{
	position: absolute;
	top: 280px;
	left: 100px;
}

#step2
{
	position: absolute;
	top: 200px;
	left: 120px;
}

#step3
{
	position: absolute;
	top: 140px;
	left: 200px;
}

#step4
{
	position: absolute;
	top: 80px;
	left: 320px;
}

img#printable { display: none; }

@media print
{
	img#printable
	{
		display: block;
		width: 600px;
	}
	
	#game-content { width: 600px; }
}
