Django==2.2.12 # pyup: < 3
simplejson==3.17.0
psycopg2==2.8.5
coverage==5.1
cssselect==1.1.0
lxml==4.5.0
pyparsing==2.4.7
tornado==6.0.4
fuzzywuzzy==0.18.0
sure==1.4.11
extras==1.0.0
python-mimeparse==1.6.0
fixtures==3.0.0
testtools==2.4.0
testscenarios==0.5.0
python-subunit==1.4.0
ansicolors==1.1.8
colorama==0.4.3
gherkin-official==4.1.3
repoze.lru==0.7
aloe==0.1.19
nose==1.3.7
django-nose==1.4.6
aloe-django==0.1.6
selenium==3.141.0
statsd==3.3.0
pep8==1.7.1
pyflakes==2.2.0
mccabe==0.6.1
logilab-common==1.5.2
pycodestyle==2.5.0
configparser==5.0.0
flake8==3.7.9
logilab-astng==0.24.3
editdistance==0.5.3
pylint==2.5.2
python-dateutil==2.8.1
pytz==2019.3
django-stagingcontext==0.1.0
sqlparse==0.3.1
six==1.14.0
gunicorn==20.0.4

s3transfer==0.3.3
jmespath==0.9.5

botocore>=1.15.0,<1.16.0
boto3>=1.12.0,<1.13.0

urllib3==1.25.9
pyasn1==0.4.8
contextlib2==0.6.0.post1
rcssmin==1.0.6
rjsmin==1.0.12

chardet==3.0.4
idna==2.9

certifi==2020.4.5.1  # sentry-sdk
urllib3==1.25.9  # sentry-sdk


requests==2.23.0

djangowind==1.2.3
raven==6.10.0
sentry-sdk==0.14.3
django-statsd-mozilla==0.4.0
django-smoketest==1.1.0
django-debug-toolbar==2.2

django-markwhat==1.6.2
django-appconf==1.0.4
django-compressor==2.4
django-storages>=1.8,<1.9
django-cacheds3storage==0.2.1
django-impersonate==1.5
django-waffle==0.20.0
django-ga-context==0.1.0
django-smtp-ssl==1.0

ccnmtlsettings==1.8.0

pbr==5.4.5
PyYAML>=3.10.0 # MIT
stevedore>=1.20.0 # Apache-2.0
bandit==1.6.2

entrypoints==0.3

cryptography==2.9.2
idna==2.9
urllib3==1.25.9
cffi==1.14.0
asn1crypto==1.3.0
future==0.18.2
