{% extends "base.html" %}

{% block content %}

	<h2>Log In</h2>

{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>

{% endif %}

<div id="login-box">

	<div class="login-panel" id="login-all">
	
		<form method="post" action=".">
		<table width="100%">
		<tr><td><label for="id_username">User ID:</label></td><td>{{ form.username }}</td></tr>
		<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
		</table>
		<input type="submit" value="Log In to Masivukeni" />
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	
	</div>
	
	<div class="login-panel" id="login-cu">
	
		<form method="get" action="{{ wind_base }}login">
		<input type="hidden" name="service" value="{{ wind_service }}" />
		<input type="hidden" name="destination" value="http://{{request.get_host}}/accounts/windlogin/?next={{ next }}" />
		<p>
		If you have a Columbia UNI, you already have an account and can log in through WIND with it.
		</p>
		<input type="submit" value="Log in to Masivukeni with CU UNI" />
		</form>
	
	</div>

</div>


{% endblock %}
