{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

	<h2>Log In</h2>

{% if form.has_errors %}
<p class="error">Your user id and password didn't match. Please try again.</p>
{% endif %}

<div id="login-box">

	<div class="login-panel" id="login-all">
	
		<form class="login" method="post" action="/intervention/"">
		<div class="formtitle">All Users</div>
		{% if form.has_errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
		<div class="formrow">
		<label for="id_username">User ID</label><input type="text" name="username"/>
		</div>
		<div class="formrow">
		<label for="id_password">Password</label><input type="password" name="password"/>
		</div>
		<div class="formrow">
		<input type="submit" value="Log In" />
		<input type="hidden" name="next" value="/intervention/" />
		</div>
		</form>
	
	</div>

<!--remove space between {} and % to restore code -->
<!--{ % if deployment.is_online % }-->

	<div class="login-panel" id="login-cu">
	
		<form class="login cu" method="get" action="https://wind.columbia.edu/login">
		<div class="formtitle">Columbia University Users</div>
		<div class="formrow">
		Access Masivukeni using your UNI.
		</div>
		<div class="formrow">
		<input type="submit" value="Log In" />
		<input type="hidden" name="service" value="cnmtl_full_np" />
		<input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next=/intervention/" />
		</div>
		</form>
	
	</div>
<!--{ % endif % }-->

</div>


{% endblock %}
