{% extends "intervention/game.html" %}

{% block game_js %}

	<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
	<script type="text/javascript" src="/site_media/pill_game/js/pill_common.js"></script> 
	<script type="text/javascript" src="/site_media/pill_game/js/choose_treatment_line.js"></script> 
          
{% endblock %}

{% block game_css %}

	<link href="/site_media/pill_game/css/pill.css" rel="stylesheet" type="text/css" />
  
{% endblock %}

{% block game_content %}

	<p id="linetext">
	Choose the treatment line this patient is using.
	</p>
	
	<div id="select_line_1" class="line_unselected">Line 1</div> 
    
	<div id="select_line_2" class="line_unselected">Line 2</div> 
    
{% endblock %}

background-image:url(..);
