{% extends "intervention/game.html" %}

{% block game_js %}

	<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
	<script type="text/javascript" src="/site_media/pill_game/js/pill_common.js"></script> 
	<script type="text/javascript" src="/site_media/pill_game/js/medication_details.js"></script> 
	<script type="text/javascript" src="/site_media/pill_game/js/highlight_meds.js"></script> 

{% endblock %}

{% block game_css %}

	<link href="/site_media/pill_game/css/pill.css" rel="stylesheet" type="text/css" />

{% endblock %}


{% block game_content %}

	<p id="linetext">
		Review this list of medication and click to highlight each of the pills that you take.
	</p>
    
    <div id="medications_container"></div>
    
 {% endblock %}
