{% extends "base.html" %}

{% block js %}
  <script type="text/javascript" src="/site_media/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript" src="/site_media/js/simple_tinymce.js"></script>
{% endblock %}

{% block breadcrumbs %}
    {%if activity %}
      <li><a href="/intervention_admin/{{activity.clientsession.intervention.id}}/">Session List</a></li>
      <li><a href="/intervention_admin/session/{{activity.clientsession.id}}/#activity{{activity.id}}">Edit Activity Title/Overview</a></li>
      <li><a href="/intervention_admin/activity/{{activity.id}}/">Edit Activity Procedure</a></li>
    {%endif%}  
{% endblock %}


{% block content %}
     {{ block.super }}

     {% if activity %}
      <div>
	<a class="admin_link"  href="/activity{{activity.id}}_overview">See client view of activity</a>
      </div>
      <h1>Edit Activity {{activity.short_title}} Game:</h1>
      <h2>Game instructions</h2>
      <form id="subitem-management" method="POST" action="" enctype="multipart/form-data">
	<input type="submit" value="Save" />
	{{ formset.management_form }}
	<ul class="form-list">
	  {% for form in formset.forms %}
	    <li {%if form.instance.id %}
 	          id="gamepage{{form.instance.id}}"
	        {%else%}
	          id="new"
	        {%endif%}
		>
		<h3>Page {{form.instance.index}}</h3>
		<ul class="field-list">
		  {{form.as_ul}}
		</ul>
	    </li>
	  {% endfor %}
	</ul>
	<input type="submit" value="Save" />
      </form>


      {% else %}
        <p>No game pages defined...</p>
      {% endif %}

{% endblock %}