{% extends "intervention/game.html" %}

{% block game_js %}

{% endblock %}
{% block game_css %}
  <!--link href="/site_media/ssnmtree_game/css/ssnmtree.css" rel="stylesheet" type="text/css" /-->
{% endblock %}

{% block game_content %}

   <div class="video" style="position:relative;height:520px;width:545px;margin-left:50px;">
     <video src="{{MEDIA_URL}}{{game_context.video}}" poster="" width="{{game_context.width}}" controls>
     </video>
{{ game_context.video }}
{% ifequal game_context.video "video/problem_solving_smart_sa_new_vo.mp4" %}
     <video src="{{MEDIA_URL}}video/problem_solving_xhosa.mp4" poster="" width="{{game_context.width}}" controls>
     </video>
{% endifequal %}
   </div>
{% endblock %}
