{% extends "intervention/game.html" %}

{% block title %}Support Tree Activity{% endblock %}

{% block game_css %}
    <link href="/site_media/ssnmtree_game/css/ssnmtree.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block game_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="/site_media/js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/site_media/js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/site_media/ssnmtree_game/js/ssnmtreeview.js"></script>
{% endblock %}


{% block game_content %}
    {% comment %}
        This tree represents your life, and the fruits on the tree represent people in your life (friends or family) who you can rely on for practical support and emotional support.   
        Let's put in the names of the people who provide you with support.
        Now that we have all the names listed, let's identify those on the tree who know your HIV status.
        Now, let's identify those on the tree that provide you with practical support, meaning that they are available to do things for you.
    {% endcomment %}
    <div style="position:relative;height:465px;width:545px">
        <div id="game-mode" data-game-mode="{{game_context.mode}}"></div>
        <img class="bare-tree" src="/site_media/ssnmtree_game/images/bare_tree.png" />
        <div id="fruittree">
            <!-- ** DO NOT DISTURB: 
	           programming depends on ids,classes,and structure-->

            <!-- LEFT corner ups -->
            <div id="top1-fruit" class="fruit leftup">
	            <input type="text" value="" />
	            <div class="circle"></div>	 
	            <div class="ripe"></div>
            </div>
            <div id="middle2-fruit" class="fruit leftup">
	            <input type="text" value="" />
	            <div class="circle"></div>	 
	            <div class="ripe"></div>
            </div>
            <div id="middle4-fruit" class="fruit leftup">
	            <input type="text" value="" />
	            <div class="circle"></div>	 
	            <div class="ripe"></div>
            </div>
            <div id="bottom3-fruit" class="fruit leftup">
	            <input type="text" value="" />
	            <div class="circle"></div>	 
	            <div class="ripe"></div>
            </div>

            <!-- RIGHT corner ups -->
            <div id="top2-fruit" class="fruit rightup">
	            <input type="text" value="" />
	            <div class="circle"></div>	 
	            <div class="ripe"></div>
            </div>
            <div id="top3-fruit" class="fruit rightup">
	            <input type="text" value="" />
	            <div class="circle"></div>	 
	            <div class="ripe"></div>
            </div>
            <div id="middle1-fruit" class="fruit rightup">
	            <input type="text" value="" />
	            <div class="circle"></div>	 
	            <div class="ripe"></div>
            </div>
            <div id="middle3-fruit" class="fruit rightup">
	           <input type="text" value="" />
	           <div class="circle"></div>	 
	           <div class="ripe"></div>
            </div>
            <div id="bottom1-fruit" class="fruit rightup">
    	        <input type="text" value="" />
    	        <div class="circle"></div>	 
    	        <div class="ripe"></div>
            </div>
            <div id="bottom2-fruit" class="fruit rightup">
    	        <input type="text" value="" />
    	        <div class="circle"></div>	 
                <div class="ripe"></div>
            </div>
        </div>
        <div id="fruittree-toggles">
            <div id="toggle-support-selection" class="toggle-button off">+/-<br />Practical<br/>Support</div>
            <div id="toggle-disclosure-selection" class="toggle-button off">+/-<br />Aware<br />of Status</div>
        </div>
    </div>
{% endblock %}
