{% extends "base.html" %}

{% block title %}{{ activity.long_title }}{% endblock %}

{% load participant_status %}

{% block js %}
<script>
var game_variables = {{activity.variables|safe}};
</script>
{% endblock %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; Intervene &rarr; Working with <b>{{participant.name}}</b> 
</div>
{% endblock %}

{% block breadcrumb-session %}

<div id="breadcrumb">
      <a class="incomplete" id="tab-home" href="/intervention/{{activity.clientsession.intervention.id}}/">Sessions</a>
	<div id="breadcrumb-text">
		You are currently in: <span class="breadcrumb-text-current">Session {{activity.clientsession.index}}: {{activity.clientsession.long_title}} &rarr; Activity {{activity.index}}: {{ activity.long_title }}</span>
	</div>
</div>

{% if participant.is_practice %}
<div class="practice-mode">Practice Mode - This intervention is for demonstration purposes only.</div>
{% endif %}
{% endblock %}

{% block content %}

    {{ block.super }}
    
		<div id="side">
			<h2 id="sessioninfo" class="{% get_participant_status participant activity.clientsession %}">
				<a href="/session/{{activity.clientsession.id}}/">Session {{activity.clientsession.index}}: {{activity.clientsession.long_title}}</a>
			</h2>
			<div id="nav-side">
				<ul>
				{% for a in activity.clientsession.activity_set.all %}
				<li>
				<a class="
				{% get_participant_status participant a %} 
				{% if forloop.first %}first{% endif %}
				{% if forloop.last %}last{% endif %} 	
			{% ifequal a.id activity.id %}current{%else%}default{% endifequal %}
				" href="/activity/{{a.id }}/">{{a.long_title}}</a>{% if a.game %}<span class="task">+Task</span>{% endif %}
				</li>
				{% endfor %}
				</ul>
			</div>

		</div>
		
		<div id="content">


	    <form name="completeactivity" action="complete/" method="post">
	
	    <div id="session{{activity.clientsession.id}}" class="parentsession"></div>

		<div class="nav-lateral" id="top-nav-lateral">
		  {%if activity.game %}
		    {% if activity.pages %}
           	      <a class="navlink" href="/task/{{activity.gamepage_set.all.0.id}}/{{activity.pages.0}}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a>
		    {%endif%}
		    {% else %}
                      {% with activity.next as next_activity %}
		        {% if next_activity %}
		          <a class="navlink" href="/activity/{{next_activity.id }}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a> 
			{% else %}
			  <a href="/session/{{activity.clientsession.id}}/" onclick="document.completeactivity.submit();return false">Wrap-Up Session {{activity.clientsession.index}}!</a> 
			{% endif %}
	              {% endwith %}
  		  {%endif%}
				  {% with activity.prev as prev_activity %}
					{% if prev_activity %}
			                   {% if prev_activity.game %}
				              <a href="/task/{{prev_activity.last_gamepage_obj.id }}/{{prev_activity.last_gamepage}}/">&larr; Back</a> 
					   {% else %}
					      <!--debug message-No game on previous activity-->
			                      <a href="/activity/{{prev_activity.id }}/">&larr; Back</a> 
					   {% endif %}
					{% else %}
					<!--START - There's no activity before this.-->
					{% endif %}
				  {% endwith %}
				</div>
				
		<div id="suggestedtime">
		{{activity.objective_copy|safe}}
		</div>
		
		<h3 id="activity{{activity.id}}" class="activitytitle">{{ activity.long_title }}</h3>
		
		
		
	    <div id="messaging">
		  Your wish is my command
	    </div>	

		{% if activity.instruction_set.count %}
		
		{% for instruction in activity.instruction_set.all %}
		
		{%if instruction.title %}
		<h4>{{instruction.title}}</h4> 
		{%endif%}
		{%if instruction.image %}
		<img src="{{instruction.image.url}}" />
		<br />
		{%endif%}
		
		<!--  {%if instruction.style %}
		<span class="instruction_style">{{instruction.style}}:</span> 
		{%endif%}-->
		<p class="{{instruction.style}}"> {{ instruction.instruction_text|safe }}</p>
		{% endfor %}
		{% else  %}
		<p>No content instructions defined for this activity.</p>
		{% endif %}
		
		{% if not activity.game %}
		{% endif %}
		
		{% if activity.collect_notes %}
		<h4>{{participant.name}}'s Questions and Concerns</h4>	
		
		<textarea name="counselor_notes" rows="5" cols="70" id="counselor-notes" >{{counselor_notes}}</textarea>
		{% endif %}
	
		<div class="nav-lateral" id="bottom-nav-lateral">
		
			<a id="top" href="#pagestart">&uarr; Back to Top</a>
			
		  {%if activity.game %}
		    {% if activity.pages %}
           	      <a class="navlink" href="/task/{{activity.gamepage_set.all.0.id}}/{{activity.pages.0}}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a>
		    {%endif%}
		    {% else %}
                      {% with activity.next as next_activity %}
		        {% if next_activity %}
		          <a class="navlink" href="/activity/{{next_activity.id }}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a> 
			{% else %}
			  <a href="/session/{{activity.clientsession.id}}/" onclick="document.completeactivity.submit();return false">Wrap-Up Session {{activity.clientsession.index}}!</a> 
			{% endif %}
	              {% endwith %}
  		  {%endif%}
			
                        {% with activity.prev as prev_activity %}
					{% if prev_activity %}
			                   {% if prev_activity.game %}
				              <a href="/task/{{prev_activity.last_gamepage_obj.id }}/{{prev_activity.last_gamepage}}/">&larr; Back</a> 
					   {% else %}
					      <!--debug message-No game on previous activity-->
			                      <a href="/activity/{{prev_activity.id }}/">&larr; Back</a> 
					   {% endif %}
					{% else %}
					<!--START - There's no activity before this.-->
					{% endif %}
				  {% endwith %}
		</div>
				
		</form>

		</div>  

{% endblock %}
