{% extends "base.html" %}

{% block title %}activity.html{% endblock %}

{% load participant_status %}

{% block js %}
<script>
var game_variables = {{activity.variables|safe}};
</script>
{% endblock %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
	<a href="{{relative_root}}/intervention/">Home</a> &rarr; Intervene &rarr; NAME's Session 	   
</div>
{% endblock %}

{% block breadcrumb-session %}
{%if activity %}
<div id="breadcrumb">
      <a class="incomplete" id="tab-home" href="{{relative_root}}/intervention/{{activity.clientsession.intervention.id}}/">Sessions</a>
	<div id="breadcrumb-text">
		You are currently in: Session {{activity.clientsession.index}}: {{activity.clientsession.long_title}} &rarr; <span class="breadcrumb-text-current">Activity {{activity.index}}: {{ activity.long_title }}</span>
	</div>
</div>
{%endif%}  
{% if participant.is_practice %}
<div class="practice-mode">Practice Mode - This intervention is for demonstration purposes only.</div>
{% endif %}
{% endblock %}

{% block content %}

    {{ block.super }}
    
		<div id="side">
			<h2 id="sessioninfo" class="{% get_participant_status participant activity.clientsession %}">
				<a href="/session/{{activity.clientsession.id}}/">Session {{activity.clientsession.index}}: {{activity.clientsession.long_title}}</a>
			</h2>
			<div id="nav-side">
				<ul>
				{% for a in activity.clientsession.activity_set.all %}
				<li><a class="{% get_participant_status participant a %}
				{% if forloop.first %}first{% endif %}
				{% if forloop.last %}last{% endif %}
				{% ifequal a.id activity.id %}current{% endifequal %}
				" href="/activity/{{a.id }}/">{{a.long_title}}</a>
				{% if a.game %}<span class="task">+Task</span>{% endif %}
				</li>
				{% endfor %}
				</ul>
			</div>

		</div>
		
		<div id="content">

    {% if activity %}
    <form action="complete/" method="post">

    <div id="session{{activity.clientsession.id}}" class="parentsession"></div>



			<div class="nav-lateral" id="top-nav-lateral">
			  {% with activity.next as next_activity %}
			     {% if next_activity %}
				<a href="/activity/{{next_activity.id }}/">Next &rarr;</a> 
                             {% else %}
				Next &rarr;
                             {% endif %}
			  {% endwith %}
			  {% with activity.prev as prev_activity %}
				{% if prev_activity %}
				<a href="/activity/{{prev_activity.id }}/">&larr; Previous</a> 
				{% else %}
				&larr; Previous
				{% endif %}
			  {% endwith %}
			</div>
      <h3 id="activity{{activity.id}}" class="activitytitle">Activity {{activity.index}}: {{ activity.long_title }}</h3>
         {%if activity.game %}
	<h4 class="flag">This activity has a client task</h4>
	{% if activity.pages %}
	  <p>
	    {% if not test %}
	      <a id="tasklink" class="hilite" href="/task/{{activity.gamepage_set.all.0.id}}/{{activity.pages.0}}/">START</a>
	      <ul id="all-task-pages">
		{%for taskpage in activity.gamepage_set.all %}
		<li><a id="taskpage-{{taskpage.page_name}}" 
		       href="/task/{{activity.taskpage.id}}/{{activity.taskpage.page_name}}/">
		  {{taskpage.page_name}}
		</a></li>
		{%endfor%}
	      </ul>
	    {%else%}
	      <a id="tasklink" class="hilite" href="/task/{{activity.gamepage_set.all.0.id}}/{{activity.pages.0}}/">START</a>
	      <ul id="all-task-pages">
		{%for taskpage in activity.pages %}
		<li><a id="taskpage-{{taskpage}}" 
		       href="/task/{{activity.taskpage.id}}/{{activity.taskpage.page_name}}/">
		  {{taskpage}}
		</a></li>
		{%endfor%}
	      </ul>
	    {%endif%}	    
	  </p>

	{%endif%}
      {%endif%}
    {% else %}
      <p>No activity defined.</p>
    {% endif %}

	
    <div id="messaging">
       Your wish is my command
    </div>	
     
     

 
          
     <h4>Objective(s)</h4>
        <div class="objective">
	  {{activity.objective_copy|safe}}
	</div>
	<h4>Procedure</h4>
	{% if not test and activity.instruction_set.count %}
 
	 {% for instruction in activity.instruction_set.all %}
           <ul>
	     <li>
	       {%if instruction.title %}
	         <h5>{{instruction.title}}</h5> 
	       {%endif%}

	       {%if instruction.image %}
	         <img src="{{instruction.image.url}}" />
		 <br />
	       {%endif%}

	    <!--   {%if instruction.style %}
	         <span class="instruction_style">{{instruction.style}}:</span> 
	       {%endif%}-->
		 
	      <div class="{{instruction.style}}"> {{ instruction.instruction_text|safe }}</div>
	     </li>
	   </ul>
	 {% endfor %}
	{% else  %}
	  <p>No content instructions defined for this activity.</p>
	{% endif %}
	{% if not activity.game %}
	 <!-- if we have a game, the complete button is on the last game page-->
      <br />  
       {% if activity.collect_notes %}
      <h4>Questions and concerns</h4>
      <textarea name="counselor_notes" rows="5" cols="70"
		id="counselor-notes" >{{counselor_notes}}</textarea>
      {% endif %}


	<div id="completeactivity" align="center">
	<input type="submit" value="Complete Activity" />
	</div>
    </form>
	
	{% endif %}
 
			<div class="nav-lateral" id="bottom-nav-lateral">
			  <a id="top" href="#pagestart">&uarr; Back to Top</a>
			  {% with activity.next as next_activity %}
			     {% if next_activity %}
				<a href="/activity/{{next_activity.id }}/">Next &rarr;</a> 
                             {% else %}
				Next &rarr;
                             {% endif %}
			  {% endwith %}
			  {% with activity.prev as prev_activity %}
				{% if prev_activity %}
				<a href="/activity/{{prev_activity.id }}/">&larr; Previous</a> 
				{% else %}
				&larr; Previous
				{% endif %}
			  {% endwith %}
			</div>

</div>  

{% endblock %}
