{% extends "base.html" %}

{% block title %} {{user}}'s Home Page{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a>
	</div>
{% endblock %}

{% block content %}
      <h2>
	Hello, <span id="user_fullname">{{request.user.username}}!</span>
      </h2>
      
      <div align="center">
	  <table id="choices">
	    <col id="buttons" />
	    <col id="text" />
		
	    <tr>
	      <td>
		<a href="{{intervention.get_absolute_url}}">Intervene</a>
	      </td>
	      <td>
		Counselors and administrators can counsel participants.
	      </td>
	    </tr>
		
	    <tr>
	      <td>
		<a href="{{intervention.get_absolute_url}}?mode=practice">Intervene (Practice)</a>
	      </td>
	      <td class="disabled">
		Counselors and administrators can practice their counselling skills.
	      </td>
	    </tr>

{% if request.user.is_superuser %}		
	    <tr>
	      <td>
		<a href="/manage/">Administrate</a>
	      </td>
	      <td class="disabled">
		Counselors and administrators can manage participant information.
	      </td>
	    </tr>

	    <tr>
	      <td>
		<a href="">Upload</a>
	      </td>
	      <td class="disabled">
		Administrators can send data.
	      </td>
	    </tr>
		
	    <tr>
	      <td>
		<a href="">Report</a>
	      </td>
	      <td class="disabled">
		Administrators can create reports.
	      </td>
	    </tr>
{% endif %}		
		
	  </table>
      </div>
{% endblock %}
