{% extends "base.html" %}

{% block js %}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/static_auth/local_session.js"></script>    
   <script type="text/javascript" src="/site_media/js/static_auth/intervention_storage.js"></script>    
   
   <!-- Delegate to the particular game which extra JS it needs -->
   <script>
     var game_variables = {{game.variables|safe}};
     this.ss_game_state = {};
     
    {% for v in game_variables %}
         {% if v.value %}
             this.ss_game_state['{{v.key}}'] = {{v.value|safe}};
         {% else %}
             this.ss_game_state['{{v.key}}'] = {};
         {% endif %}
    {% endfor %}
    
   </script>
   {% block game_js %}{% endblock %}
{% endblock %}

{% block css %}
   <!-- Delegate to the particular game extra CSS it needs -->
   {% block game_css %}{% endblock %}
{% endblock %}

{% block breadcrumbs %}
    {%if game %}
      <li><a href="/intervention/{{game.activity.clientsession.intervention.id}}/">Session List</a></li>
    {%endif%}  
{% endblock %}


{% block content %}
  
   <div id="session{{game.activity.clientsession.id}}" class="parentsession"></div>   
      <div id="titlearea"> 
      <h1 id="activity{{game.activity.id}}" class="activitytitle">Activity {{game.activity.index}}: {{ game.activity.long_title }}</h1>
        </div> 
        
   <div id="content-right" class="game" >
    {% if participant.is_practice %}
    <p class="practice-mode">PRACTICE MODE</p>
    {% endif %}

     <h2>Client Task: Part {{game.index}}/{{game.activity.pages|length}}</h2>

     <div class="game_instructions">
       {{game.instructions|safe}}
     </div>

    
       {% if game.next_url %}
        
         <a id="next-game-part-link" class="hilite" href="{{game.next_url}}.html">
	   {%if game.next_title%}
             Next: {{game.next_title}}
	   {%else%}
	     NEXT PART
	   {%endif%}
         </a>
	 <span class="cent_or">or</span>

       {% else %}
         
	   <a id="complete" class="hilite" href="/activity/{{game.activity.id}}/complete/" >
	     COMPLETE
	   </a><span class="cent_or">or</span>
	
       {% endif %}
       {% if game.previous_url %}
         <a class="off" href="{{game.previous_url}}.html">
	   {%if game.prev_title%}{{game.prev_title}}
	   {%else%}
	     PREVIOUS PART
	   {%endif%}
	 </a>
       {% endif %}
   <a class="off" href="/activity/{{game.activity.id}}/">return to task overview</a>
   <a class="off" href="/session/{{game.activity.clientsession.id}}/">return to agenda</a>
   {%if debug%}
     <a class="off" href="#BEWARE" onclick="if(confirm('sure?')){Intervention.resetGame();}return false;">Reset Task for this User</a>
   {%endif%}
   </div>

   <div id="game-content">
     <!-- Delegate HTML to the particular game -->
     {% block game_content %}{% endblock %}
   </div>

{% endblock %}
