{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {{ block.super }}
    
	<h2>Welcome to Masivukeni!</h2>

 	<div id="home-widgets"">

		<div align="center">
		<form class="login" method="post" action="/intervention/"">
		<div class="formtitle">Log In to Masivukeni</div>
		{% if form.has_errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
		<div class="formrow">
		<label for="id_username">User ID</label><input type="text" name="username"/>
		</div>
		<div class="formrow">
		<label for="id_password">Password</label><input type="password" name="password"/>
		</div>
		<div class="formrow">
		<input type="submit" value="Log In" />
		<input type="hidden" name="next" value="/intervention/" />
		</div>
		</form>
		</div>
		
		{% if deployment.is_online %}	
		<div align="center">
		<form class="login cu" method="get" action="https://wind.columbia.edu/login">
		<div class="formtitle">Columbia University</div>
		<div class="formrow">
		<input type="submit" value="Log in to Masivukeni with UNI" />
		<input type="hidden" name="service" value="cnmtl_full_np" />
		<input type="hidden" name="destination" value="http://masivukeni2.ccnmtl.columbia.edu/accounts/windlogin/?next=/intervention/" />
		</div>
		</form>
		</div>
		{% endif %}
		
		<div align="center">
		{% if deployment.is_online %}	
		<iframe style="border: 0px;" width="320" height="247" src="http://www.youtube.com/embed/MOGlicrnko0" frameborder="0" allowfullscreen></iframe>
		{% else %}
		<img src="/site_media/images/realsession.jpg" />
		{% endif %}
		</div>
	
	</div>
	
 	<div id="home-copy">
 	
		<p>
		Masivukeni is a new adherence to HIV care and treatment intervention being piloted in South Africa. It is based on a proven dyadic-focused adherence intervention called "SMART Couples," which was developed at the HIV Center by Dr. Robert H. Remien and his colleagues. Masivukeni is a collaboration between CCNMTL, the HIV Center, and researchers at the University of Cape Town, South Africa.
		</p>
	
		<p>
		The Masivukeni intervention is a computer-based system used by non-professional peer counselors to help patients improve adherence to care by enlisting support from someone in their social support network (e.g., a partner, friend, or family member), so that together they can understand the importance of taking their medication as prescribed and maintaining high levels of overall treatment adherence.
		</p>
		
		<p>
		The study is funded by the NIMH under a grant titled 'A Multimedia Social Support Intervention: Adherence to HIV Care in South Africa' and is in its second year.
		</p>
		{% if deployment.is_online %}	
		<p>
		For detailed information, visit CCNMTL's <a href="http://ccnmtl.columbia.edu/portfolio/medicine_and_health/masivukeni.html" target="blank">Masivukeni Project Page</a>.
		</p>
		{% endif %}
		<ul>
		{% if user.is_superuser %}
		<li><a href="/intervention_admin/1/">Administer Intervention Content</a></li>
		{% endif %}
		<li><a href="/intervention/">Begin Intervention</a></li>
		</ul>
	
	
	</div>
	
{% endblock %}
