{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {{ block.super }}
    
	<h2>Welcome to Masivukeni!</h2>

	<!--
	<div id="loginbox">
	<form method="post" action="/accounts/login/">
	<table>
	<tr><td><label for="id_username">User ID</label></td><td><input type="text" name="username"/></td>
	<td><label for="id_password">Password</label></td><td><input type="password" name="password"/></td>
	<td><input type="submit" value="Go" /><input type="hidden" name="next" value="/intervention/" /></td>
	</tr>
	</table>
	</form>
	</div>
	-->

{% if user.is_superuser %}
<p><a href="/intervention_admin/1/">Administer Intervention Content</a></p>
{% endif %}
	
 	<div style="float: right; margin-left: 30px;">
 	<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/MOGlicrnko0?hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/MOGlicrnko0?hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
	</div>
	
	<p>
	Masivukeni is a new adherence to HIV care and treatment intervention being piloted in South Africa. It is based on a proven dyadic-focused adherence intervention called "SMART Couples," which was developed at the HIV Center by Dr. Robert H. Remien and his colleagues. Masivukeni is a collaboration between CCNMTL, the HIV Center, and researchers at the University of Cape Town, South Africa.
	</p>
	
	<p>
	The Masivukeni intervention is a computer-based system used by non-professional peer counselors to help patients improve adherence to care by enlisting support from someone in their social support network (e.g., a partner, friend, or family member), so that together they can understand the importance of taking their medication as prescribed and maintaining high levels of overall treatment adherence.
	</p>
	
	<p>
	The study is funded by the NIMH under a grant titled 'A Multimedia Social Support Intervention: Adherence to HIV Care in South Africa' and is in its second year.
	</p>
	
{% endblock %}
