{% extends "base.html" %}
{% block title %}intervention.html{% endblock %}
{% load participant_status %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; Intervene &rarr; NAME's Session 	   
</div>
{% endblock %}

{% block breadcrumb-session %}
<div id="breadcrumb">
	<a class="incomplete current" href="#" id="tab-home">Sessions</a> 
	<!--
	<div id="breadcrumb-text">
		You are currently in: Session #: TITLE &rarr; <span class="breadcrumb-text-current">Activity #: TITLE</span>
	</div>
	--></div>
    {% if participant.is_practice %}
    <div class="practice-mode">Practice Mode - This intervention is for demonstration purposes only.</div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="titlearea"> 
      <h2>Sessions</h2>
    </div> 
    <div id="content-singlecolumn">
        <p class="instructions">
       Click on a session number to continue with the intervention for <b>{{participant.name}}</b>. The suggested next session is highlighted.
	  </p>

	<div id="navigator">
	  <ul class="primary">
        {% for session in intervention.clientsession_set.all %}
	{% if not session.defaulter or participant.defaulter %}
	   <li><a id="session{{session.index }}" 
		  class="session {% get_participant_status participant session %}" 
		  href="/session/{{session.id}}/">
	     Session {{forloop.counter}}: {{ session.long_title }}
	    </a></li>
        {% endif %}
        {% endfor %}
	  </ul>
	  <ul class="secondary" style="background-color: #fff;">
	  </ul>
	</div>

    </div>	
     
{% endblock %}
