{% extends "intervention/offlineable_base.html" %}

{% block content %}
    {{ block.super }}

    {% if intervention %}

    <!--div>{{ intervention }}</div-->
    
     {% if perms.intervention.add_clientsession %}
        <div>
	  <a class="admin_link" href="/intervention_admin/{{intervention.id}}/">Edit</a>
	</div>
      {% endif %}
      
    <div id="titlearea"> 
      <h1>Session List</h1>
    </div> 
    <div id="content-singlecolumn">
        <p class="instructions">Click on a session number to continue with the intervention.  The suggested next session is highlighted.</p>


        {% if intervention.clientsession_set.count %}                
	<div id="navigator">
	  <ul class="primary">
        {% for session in intervention.clientsession_set.all %}
	   <li><a id="session{{session.index }}" class="session" href="session{{session.id }}_agenda.html">
	     Session {{forloop.counter}}: {{ session.long_title }}
	    </a></li>
        {% endfor %}
	  </ul>
	  <ul class="secondary">
	  </ul>
	</div>

	{% else  %}
	  <p>No sessions defined for this intervention.</p>
	{% endif %}
	<script type="text/javascript">
	  if (typeof(Intervention) != 'undefined') {
	      Intervention.init_intervention();
	  }
	</script>
    </div>	
     
    <div id="messaging">
      {{messages}}
    </div>	

    {% else %}
      <p>No intervention defined...</p>
    {% endif %}
{% endblock %}
