{% extends "base.html" %}
{% load participant_status %}

{% block content %}
    {{ block.super }}

    <div id="titlearea"> 
      <h1>Session List</h1>
    </div> 
    {% if participant.is_practice %}
    <p class="practice-mode">PRACTICE MODE</p>
    {% endif %}
    <div id="content-singlecolumn">
        <p class="instructions">Click on a session number to continue
	  with the intervention for <b>{{participant.name}}</b>.
	  The suggested next session is highlighted.</p>

	<div id="navigator">
	  <ul class="primary">
        {% for session in intervention.clientsession_set.all %}
	{% if not session.defaulter or participant.defaulter %}
	   <li><a id="session{{session.index }}" 
		  class="session {% get_participant_status participant session %}" 
		  href="/session/{{session.id}}/">
	     Session {{forloop.counter}}: {{ session.long_title }}
	    </a></li>
        {% endif %}
        {% endfor %}
	  </ul>
	  <ul class="secondary">
	  </ul>
	</div>

    </div>	
     
{% endblock %}
