{% extends "base.html" %} 

{% block title %}Administrate{% endblock %}

{% block breadcrumb-main %} 
<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; Administrate 
</div>
{% endblock %} 

{% block content %} 
<h2>
	Administrate
</h2>

{% if request.user.is_superuser %}

<form action="/set_deployment/" method="post">
<p>Clinic Location: <input type="text" name="name"
		      value="{{deployment.name}}" />
<input type="submit" value="Save" /></p>
</form>
{% endif %}
<a name="top"></a>
<div id="adminsubnav" align="center">
{% if participants %} 
<a href="#manageparticipants">Manage Participants</a>
{% endif %} 
{% if request.user.is_superuser %}
<a href="#managecounselors">Manage Counselors</a>
{% endif %} 
{% if not deployment.is_online %}
{% if request.user.is_superuser %}
<a href="#restoreparticipantcounselordata">Restore Participant Data</a>
<a href="#updateinterventioncontent">Update Intervention</a>
<a href="#uploaddata">Upload Participant Data</a>
<a href="#downloaddata">Download Participant Data</a>
{% endif %}
{% endif %}
</div>

<a name="manageparticipants"></a>
<h4>
	Manage Participants
</h4>


{% if participants %} 
<table class="manage" cellspacing="0">
	<col id="firstname" /> 
	<col id="status" /> 
	<col id="actions" /> 
	<tr>
	<td colspan="3" class="addcell">
<a class="action" href="/manage/add_participant/">+ Add a Participant</a>	
</td>
	</tr>
	<tr>
		<th>First Name</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	{% for participant in participants %} 
	<tr>
		<td>{{participant.name}}</td>
		<td>{% if participant.status %}Active{% else %}Inactive{% endif %}</td>
		<td> <a class="action" href="/manage/participant/{{participant.id}}/view/">View Info for {{participant.name}}</a> <a class="action" href="/manage/participant/{{participant.id}}/edit/">Edit Info for {{participant.name}}</a> </td>
	</tr>
	{% endfor %} 
</table>
{% else %} 
<p>
	There are no participants.
</p>
{% endif %} 

<div style="margin-top: 30px;"><a class="action" href="#top">Back to Top</a></div>

{% if request.user.is_superuser %}
<a name="managecounselors"></a>
<h4>
	Manage Counselors 
</h4>
{% if counselors %} 
<table id="counselors" class="manage" cellspacing="0">
	<col id="firstname" /> <col id="status" /> <col id="actions" /> 
	<tr>
	<td colspan="3" class="addcell">
	  {% if request.user.is_superuser %}
	    <a class="action" href="/manage/add_counselor/">+ Add a Counselor</a>	
          {% endif %}
	</td>
	</tr>
	<tr>
		<th>First Name</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	{% for counselor in counselors %} 
	<tr>
		<td>{{counselor.username}}</td>
		<td>{% if counselor.is_active %}Active{% else %}Inactive{% endif %}</td>
		<td><a class="action" href="/manage/counselor/{{counselor.id}}/edit/">Edit Info for {{counselor.username}}</a> </td>
	</tr>
	{% endfor %} 
</table>
{% else %} 
<p>
	There are no counselors.
</p>
{% endif %}

<div style="margin-top: 30px;"><a class="action" href="#top">Back to Top</a></div>


{% endif %}

{% if not deployment.is_online %}
{% if request.user.is_superuser %}

<a name="restoreparticipantcounselordata"></a>

<h4>Restore Participant Data</h4>

<p style="color: red; background-color: #ffc; padding: 4px; text-align: left;">
Warning: this will overwrite the participant/counselor data on this machine. Only do this as an emergency recovery procedure. Please make sure you have selected the correct backup file to restore from. 
</p>

<p style="text-align: left;">
Select that participant data file that you wish to restore from. It will be named something like:
</p>

<p style="text-align: left;">
<b>&lt;CLINIC&gt;_&lt;TIMESTAMP&gt;_participant_data.json</b>
</p>

<form action="/manage/restore_participants/" method="post" enctype="multipart/form-data" />
<input type="file" name="participants_data" />
<input type="submit" value="Restore" />
</form>
<div style="margin-top: 30px;"><a class="action" href="#top">Back to Top</a></div>

<a name="updateinterventioncontent"></a>

<h4>Update Intervention</h4>

<p style="text-align: left;">
If the intervention content (text, images, and/or video) has been updated, this is where you update the Clinic deployment by uploading the .zip file of the new content.
</p>

<p style="text-align: left;">
Select that intervention content file that you wish to restore from. It will be named something like 
</p>

<p style="text-align: left;">
<b>&lt;TIMESTAMP&gt;_content.zip</b>
</p>

<form action="/manage/update_intervention_content/" method="post" enctype="multipart/form-data" />
<input type="file" name="intervention_content" />
<input type="submit" value="Update Content" />
</form>

<div style="margin-top: 30px;"><a class="action" href="#top">Back to Top</a></div>

<a name="uploaddata"></a>

<h4>Upload Participant Data</h4>

<p style="text-align: left;">
Administrators can send data if online.
</p>

<form action="#" method="post" enctype="multipart/form-data" />
<input type="file" name="" />
<input type="submit" value="Upload" />
</form>
<div style="margin-top: 30px;"><a class="action" href="#top">Back to Top</a></div>


<a name="downloaddata"></a>

<h4>Download Participant Data</h4>

<p style="text-align: left;">
Administrators can <a href="/manage/report/download/">download data here</a> for reporting if online.
</p>


<div style="margin-top: 30px;"><a class="action" href="#top">Back to Top</a></div>

{% endif %}
{% endif %}
{% endblock %} 
