{% extends "base.html" %}

{% block content %}
<h1>Administrate</h1>

<p><b>Participants</b>
<a href="/manage/add_participant/">+ Add Participant</a></p>

{% if participants %}
<table width="100%">
<tr>
  <th>First Name</th>
  <th>Status</th>
  <th>Actions</th>
</tr>
{% for participant in participants %}
<tr>
<td>{{participant.name}}</td>
<td>{% if participant.status %}Active{% else %}Inactive{% endif %}</td>
<td><a href="/manage/participant/{{participant.id}}/view/">view
    notes</a> |
<a href="/manage/participant/{{participant.id}}/edit/">edit</a>
</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>no participants</p>
{% endif %}


<p><b>Counselors</b>
<a href="/admin/auth/user/add/">+ Add Counselor</a></p>

{% if counselors %}
<table width="100%">
<tr>
  <th>First Name</th>
  <th>Status</th>
  <th>Actions</th>
</tr>
{% for counselor in counselors %}
<tr>
<td>{{counselor.username}}</td>
<td>{% if counselor.is_active %}Active{% else %}Inactive{% endif %}</td>
<td><a href="/manage/counselor/{{counselor.id}}/view/">view
    notes</a> |
<a href="/admin/auth/user/{{counselor.id}}/">edit</a>
</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>no counselors</p>
{% endif %}



{% endblock %}
