{% extends "base.html" %} 

{% block title %}Administrate{% endblock %}

{% block breadcrumb-main %} 
<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; Administrate 
</div>
{% endblock %} 

{% block content %} 
<h2>
	Administrate
</h2>
<h4>
	Participants
</h4>

{% if request.user.is_superuser %}
<form action="/set_deployment/" method="post">
<p>Location Name: <input type="text" name="name"
		      value="{{deployment.name}}" />
<input type="submit" value="save" /></p>
</form>
{% endif %}

{% if participants %} 
<table class="manage" cellspacing="0">
	<col id="firstname" /> 
	<col id="status" /> 
	<col id="actions" /> 
	<tr>
	<td colspan="3" class="addcell">
<a class="action" href="/manage/add_participant/">+ Add a Participant</a>	
</td>
	</tr>
	<tr>
		<th>First Name</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	{% for participant in participants %} 
	<tr>
		<td>{{participant.name}}</td>
		<td>{% if participant.status %}Active{% else %}Inactive{% endif %}</td>
		<td> <a class="action" href="/manage/participant/{{participant.id}}/view/">View Info for {{participant.name}}</a> <a class="action" href="/manage/participant/{{participant.id}}/edit/">Edit Info for {{participant.name}}</a> </td>
	</tr>
	{% endfor %} 
</table>
{% else %} 
<p>
	no participants
</p>
{% endif %} 
{% if request.user.is_superuser %}
<h4>
	Counselors 
</h4>
{% if counselors %} 
<table id="counselors" class="manage" cellspacing="0">
	<col id="firstname" /> <col id="status" /> <col id="actions" /> 
	<tr>
	<td colspan="3" class="addcell">
	  {% if request.user.is_superuser %}
	    <a class="action" href="/manage/add_counselor/">+ Add a Counselor</a>	
          {% endif %}
	</td>
	</tr>
	<tr>
		<th>First Name</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	{% for counselor in counselors %} 
	<tr>
		<td>{{counselor.username}}</td>
		<td>{% if counselor.is_active %}Active{% else %}Inactive{% endif %}</td>
		<td><a class="action" href="/manage/counselor/{{counselor.id}}/view/">View Info for {{counselor.username}}</a> <a class="action" href="/admin/auth/user/{{counselor.id}}/">Edit Info for {{counselor.username}}</a> </td>
	</tr>
	{% endfor %} 
</table>
{% else %} 
<p>
	no counselors
</p>
{% endif %}
{% endif %}
{% endblock %} 
