{% extends "base.html" %}
{% block title %}session.html{% endblock %}

{% load participant_status %}

{% block breadcrumbs %}
    {%if session %}
      <li><a href="/intervention/{{session.intervention.id}}/">Session List</a></li>
    {%endif%}  
{% endblock %}


{% block breadcrumb-main %}<div>breadcrumb-main</div>{% endblock %}

{% block breadcrumb-session %}<div>breadcrumb-session</div>{% endblock %}

{% block content %}
    {{ block.super }}
    
    {% if session %}

      <h3 id="session{{session.id}}" class="{% get_participant_status participant session %} sessiontitle">Session {{ session.index }}: {{ session.long_title }}</h3>

    {% if participant.is_practice %}
    <p class="practice-mode">Practice Mode - This intervention is for demonstration purposes only.</p>
    {% endif %}

      {% if session.introductory_copy %}
	<p class="instructions">{{session.introductory_copy|safe}}</p><hr />
      {% endif %}
      {% if activities %}       
        <p class="instructions">
	  Click on an activity to continue with this session.  
	  The suggested next activity is highlighted.
	</p>



	<div id="navigator">
	  <ul class="primary">
        {% for s in session.intervention.clientsession_set.all %}
	{% if not s.defaulter or participant.defaulter %}
	   <li><a id="session{{s.index }}" class="session {% get_participant_status participant s %} {% ifequal session.id s.id %}current{% endifequal %}" href="/session/{{s.id }}/">
	     Session {{forloop.counter}}: {{ s.long_title }}
	    </a></li>
	{% endif %}
        {% endfor %}
	  </ul>
	  <ul class="secondary">
        {% for activity in activities %}
	   <li><a id="activity{{activity.index }}" class="activity {% get_participant_status participant activity %}" href="/activity/{{activity.id }}/">
	     Activity {{forloop.counter}}: {{ activity.short_title }}</a>
	     {% if activity.game %}<span class="task">+Task</span>{% endif %}
           </li>
        {% endfor %}
	  </ul>
	</div>

       {% else  %}
         <p>No activities defined for this session.</p>
       {% endif %}
       <br style="clear: both;" />
<hr />
         <p>
	   <form action="complete/" method="post">
	     <input type="submit" value="Complete Session" />
	   </form>
	 </p>
     
<br style="clear: both;" /> 
    </div>
{% else %}
    <p>No session defined.</p>
{% endif %}

{% endblock %}
