{% extends "base.html" %}

{% block title %}Log in your Participant{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; Counsel
	</div>
{% endblock %}

{% block content %}
<h2>Log in your Participant</h2>

<div align="center">
<div style="width: 500px;">
<form action="." method="post" id="login-participant-form" class="login">

<input type="hidden" name="next" value="{{next}}" />

<div class="formrow">
<label style="width: 200px; text-align: right; display: block; float: left; padding-right: 5px;">First Name:</label> <input type="text" name="name" id="name" />
</div>

<div class="formrow">
<label style="width: 200px; text-align: right; display: block; float: left; padding-right: 5px;">Participant ID:</label> <input type="password" name="id_number" id="id_number" />
</div>

<div class="formrow" align="center">
<input type="submit" value="Begin" />
</div>

</form>
</div>
</div>

{% endblock %}