{% extends "base.html" %}

{% block title %}Log in your Participant{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; Intervene
	</div>
{% endblock %}

{% block content %}
<h2>Log in your Participant</h2>
<form action="." method="post">
<input type="hidden" name="next" value="{{next}}" />
<p><b>First Name:</b> <input type="text" name="name" /></p>
<p><b>Participant ID:</b> <input type="password" name="id_number" /></p>
<input type="submit" value="Begin" />
</form>
{% endblock %}
