{% extends "base.html" %}
{% block title %}Information for {{counselor.username}}{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; <a href="/manage/">Administrate</a> &rarr; Information for {{counselor.username}}
	</div>
{% endblock %}

{% block content %}
<h2>Information for {{counselor.username}}</h2>


{% for note in notes %}
{% if note.notes %}
<h4>Information for Participant {{note.participantsession.participant.name}}, Session {{note.participantsession.session.title}}</h4>
<p>{{note.notes}}</p>
{% endif %}
{% endfor %}

<a href="/manage/" class="action">Done</a>

{% endblock %}
