{% extends "base.html" %}
{% load participant_status %}

{% block title %}Notes for {{participant.name}}{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; <a href="/manage/">Administrate</a> &rarr; Notes for {{participant.name}}
	</div>
{% endblock %}

{% block content %}
<h2>Notes for {{participant.name}}</h2>

<h3>{{participant.name}}'s Notes</h3>

{% if participant.clinical_notes %}
<p>{{participant.clinical_notes}}</p>
{% else %}
<p>No clinical notes have been entered</p>
{% endif %}

<h3>{{participant.name}}'s Questions and Concerns</h3>

<table>
<tr><th>session</th>
  <th>counselor</th>
  <th>notes</th>
</tr>
{% for cn in participant.all_counselor_notes %}
{% if cn.notes %}
<tr>
<th>{{cn.participantsession.session.long_title}}</th>
<th>{{cn.counselor.username}}</th>
<td>{{cn.notes}}</td>
</tr>
{% endif %}
{% endfor %}
</table>

<h3>{{participant.name}}'s Alerts</h3>

<h3>{{participant.name}}'s Progress</h3>

<table>
{% for intervention in all_interventions %}
{% for session in intervention.clientsession_set.all %}
<tr>
  <th>{{session.long_title}}</th>
  <td>{% get_participant_status participant session %}</td>
</tr>

{% for activity in session.activity_set.all %}
{% get_participant_status participant activity as astatus %}
{% if  astatus %}<tr>
  <td>{{activity.long_title}}</td>
  <td>{% get_participant_status participant activity %}</td>
</tr>{% endif %}

{% endfor %}
{% endfor %}
{% endfor %}
</table>



<a href="/manage/" class="action">Done</a>

{% endblock %}
