{% extends "base.html" %}
{% block title %}Notes for {{participant.name}}{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; <a href="/manage/">Administrate</a> &rarr; Notes for {{participant.name}}
	</div>
{% endblock %}

{% block content %}
<h2>Notes for {{participant.name}}</h2>

<h3>{{participant.name}}'s notes</h3>

<p>{{participant.clinical_notes}}</p>

<h3>{{participant.name}}'s questions and concerns</h3>

<h3>{{participant.name}}'s alerts</h3>

<h3>{{participant.name}}'s sessions</h3>

<ul>Sessions
{% for ps in participant.participantsession_set.all %}
<li>[<span class="{{ps.status}}">{{ps.status}}</span>] {{ps.session.long_title}}
{% if ps.counselornote_set.count %}
<ul>
{% for n in ps.counselornote_set.all %}
{% if n.notes %}
<li><b>Note from {{n.counselor.username}}</b><br />
{{n.notes}}</li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
</li>
{% endfor %}
</ul>

<ul>Activities
{% for pa in participant.participantactivity_set.all %}
<li>[<span class="{{pa.status}}">{{pa.status}}</span>] {{pa.activity.clientsession.long_title}}/{{pa.activity.long_title}}</li>
{% endfor %}
</ul>


<a href="/manage/">Done</a>

{% endblock %}
