{% extends "base.html" %}
{% load participant_status %}

{% block title %}Information for {{participant.name}}{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; <a href="/manage/">Administrate</a> &rarr; Information for {{participant.name}}
	</div>
{% endblock %}

{% block content %}
<h2>Information for {{participant.name}}</h2>

<h4>Notes</h4>

{% if participant.clinical_notes %}
<p>{{participant.clinical_notes}}</p>
{% else %}
<p>No clinical notes have been entered.</p>
{% endif %}

<h4>Questions and Concerns</h4>

<table class="manage" cellspacing="0">
<tr>
<th>Session</th>
<th>Counselor</th>
<th>Notes</th>
</tr>
{% for cn in participant.all_counselor_notes %}
{% if cn.notes %}
<tr>
<td>{{cn.participantsession.session.long_title}}</td>
<td>{{cn.counselor.username}}</td>
<td style="text-align: left;">{{cn.notes}}</td>
</tr>
{% endif %}
{% endfor %}
</table>

<!--
<h4>Alerts</h4>
-->

<h4>Progress</h4>

<table class="manage" cellspacing="0">
{% for intervention in all_interventions %}
{% for session in intervention.clientsession_set.all %}
<tr>
<th style="text-align: left;">{{session.long_title}}</th>
<th>{% get_participant_status participant session %}</th>
</tr>
{% for activity in session.activity_set.all %}
{% get_participant_status participant activity as astatus %}
{% if  astatus %}
<tr>
<td style="text-align: left;">{{activity.long_title}}</td>
<td>{% get_participant_status participant activity %}</td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
</table>

<div style="margin: 40px;">
<a href="/manage/" class="action">Done</a>
</div>

{% endblock %}
