{% extends "base.html" %}

{% block title %}{{ activity.long_title }}{% endblock %}

{% load participant_status %}

{% block js %}
<script>
var game_variables = {{activity.variables|safe}};
</script>

{% if activity %}

<script>
var logstatus = function(e) {
   var xmlHttp = new XMLHttpRequest();
   var url = "visit/";
   xmlHttp.open("GET", url, false);
   xmlHttp.send(null);
   setTimeout(logstatus, 1000 * 60);
};
setTimeout(logstatus, 0);
</script>

{% endif %}

{% endblock %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
    <a href="/">Home</a> &rarr; <a href="/intervention/{{activity.clientsession.intervention.id}}/" >Sessions</a> &rarr; <a href="/session/{{activity.clientsession.id}}">{{activity.clientsession.long_title}}</a> &rarr; {{activity.long_title}} 
</div>
{% endblock %}

{% block breadcrumb-session %}

<div id="breadcrumb">
      <a class="complete" id="tab-home"
      href="/intervention/{{activity.clientsession.intervention.id}}/" >Sessions</a>
	  <a class="" href="/intervention/participant-report" id="report-home">Report</a> 
	<div id="breadcrumb-text">
		You are currently in: <span class="breadcrumb-text-current">Session {{activity.clientsession.index}}: {{activity.clientsession.long_title}} &rarr; Activity {{activity.index}}: {{ activity.long_title }}</span>
	</div>
</div>

{% endblock %}

{% block content %}

    {{ block.super }}
    
		<div id="side">
			<h2 id="sessioninfo" class="{% get_participant_status participant activity.clientsession %}">
				<!--<a href="/session/{{activity.clientsession.id}}/">Session {{activity.clientsession.index}}: {{activity.clientsession.long_title}}</a>-->
				<a href="/session/{{activity.clientsession.id}}/" onclick="if(document.completeactivity){document.completeactivity.next.value=this.href;document.completeactivity.submit();return false}">{{activity.clientsession.long_title}}</a>
			</h2>
			<div id="nav-side">
				<ul>
				{% for a in activity.clientsession.activity_set.all %}
				<li>
				<a onclick="if(document.completeactivity){document.completeactivity.next.value=this.href;document.completeactivity.submit();return false}" class="
				{% get_participant_status participant a %} 
				{% if forloop.first %}first{% endif %}
				{% if forloop.last %}last{% endif %} 	
			{% ifequal a.id activity.id %}current{%else%}default{% endifequal %}
				" href="/activity/{{a.id }}/">{{a.long_title}}</a>{% if a.game %}<span class="task">+Task</span>{% endif %}
				</li>
				{% endfor %}
				</ul>
			</div>

		</div>
		
		<div id="content">


	    <form name="completeactivity" action="complete/" method="post">
	      <input type="hidden" name="next" value="" />
	
	    <div id="session{{activity.clientsession.id}}" class="parentsession"></div>

		<div class="nav-lateral" id="top-nav-lateral">
		  {%if activity.game %}
		    {% if activity.pages %}
           	      <a class="navlink" href="/task/{{activity.gamepage_set.all.0.id}}/{{activity.pages.0}}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a>
		    {%endif%}
		    {% else %}
                      {% with activity.next as next_activity %}
		        {% if next_activity %}
		          <a class="navlink" href="/activity/{{next_activity.id }}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a> 
			{% else %}
			  <a href="/session/{{activity.clientsession.id}}/" onclick="document.completeactivity.submit();return false">Wrap Up This Session</a> 
			{% endif %}
	              {% endwith %}
  		  {%endif%}
				  {% with activity.prev as prev_activity %}
					{% if prev_activity %}
			                   {% if prev_activity.game %}
				              <a href="/task/{{prev_activity.last_gamepage_obj.id }}/{{prev_activity.last_gamepage}}/"
					    onclick="if(document.completeactivity){document.completeactivity.next.value=this.href;document.completeactivity.submit();return false}">&larr; Back</a> 
					   {% else %}
					      <!--debug message-No game on previous activity-->
			                      <a href="/activity/{{prev_activity.id }}/" onclick="if(document.completeactivity){document.completeactivity.next.value=this.href;document.completeactivity.submit();return false}">&larr; Back</a> 
					   {% endif %}
					{% else %}
					<!--START - There's no activity before this.-->
					{% endif %}
				  {% endwith %}
				</div>
				
		<div id="suggestedtime">
		{{activity.objective_copy|safe}}
		</div>
		
		<h3 id="activity{{activity.id}}" class="activitytitle">{{ activity.long_title }}</h3>
		
		
		
	    <div id="messaging">
		  Your wish is my command
	    </div>	

		{% if activity.instruction_set.count %}
		
		{% for instruction in activity.instruction_set.all %}
		
		{%if instruction.title %}
		<h4>{{instruction.title}}</h4> 
		{%endif%}
		{%if instruction.image %}
		<img id="activity{{activity.id}}" class="inlineimage" src="{{instruction.image.url}}" />
		{%endif%}
		
		<!--  {%if instruction.style %}
		<span class="instruction_style">{{instruction.style}}:</span> 
		{%endif%}-->
		<p class="{{instruction.style}}"> {{ instruction.instruction_text|safe }}</p>
		{% endfor %}
		{% else  %}
		<p>No content instructions defined for this activity.</p>
		{% endif %}
		
		{% if activity.collect_buddy_name %}
		<h4>Buddy</h4>	
		
		Your Buddy: <input type="text" name="buddy_name" value="{{participant.buddy_name}}"/>
		{% endif %}

		{% if activity.collect_reasons_for_returning %}
		<h4>Reasons For Returning</h4>	

		<textarea name="reasons_for_returning" rows="5" cols="70">{{participant.reasons_for_returning}}</textarea>		
		{% endif %}

		{% if activity.collect_referral_info %}
		<h4>Referral Information</h4>	
		<h5>Referral given for:</h5>
		{% if activity.clientsession.defaulter %}

		  <p>
		  <label><input type="checkbox" name="referral_mental_health" {% if participant.defaulter_referral_mental_health %} checked="checked" {% endif %} /> mental health</label>
		  </p>
		  
		  <p>
		  <label><input type="checkbox" name="referral_alcohol" {% if participant.defaulter_referral_alcohol %} checked="checked" {% endif %} /> alcohol</label>
		  </p>
		  
		  <p>
		  <label><input type="checkbox" name="referral_drug_use" {% if participant.defaulter_referral_drug_use %} checked="checked" {% endif %} /> drug use</label>
		  </p>
		  
		  <p>
		  <label><input type="checkbox" name="referral_other" {% if participant.defaulter_referral_other %} checked="checked" {% endif %} /> other</label>
		  </p>

		<h5>Additional notes about the referral(s):</h5>
		<textarea name="referral_notes" rows="5" cols="70">{{participant.defaulter_referral_notes}}</textarea>
		{% else %}

		  <p>
		  <label><input type="checkbox" name="referral_mental_health" {% if participant.initial_referral_mental_health %} checked="checked" {% endif %} /> mental health</label>
		  </p>
		  
		  <p>
		  <label><input type="checkbox" name="referral_alcohol" {% if participant.initial_referral_alcohol %} checked="checked" {% endif %} /> alcohol</label>
		  </p>
		  
		  <p>
		  <label><input type="checkbox" name="referral_drug_use" {% if participant.initial_referral_drug_use %} checked="checked" {% endif %} /> drug use</label>
		  </p>
		  
		  <p>
		  <label><input type="checkbox" name="referral_other" {% if participant.initial_referral_other %} checked="checked" {% endif %} /> other</label>
		  </p>

		<h5>Additional notes about the referral(s):</h5>
		
		<textarea name="referral_notes" rows="5" cols="70">{{participant.initial_referral_notes}}</textarea>
		{% endif %}
		{% endif %}
		
		{% if activity.collect_notes %}
		<h4>Questions and Concerns</h4>	
		
		<textarea name="counselor_notes" rows="5" cols="70" id="counselor-notes" >{{counselor_notes}}</textarea>
		{% endif %}
	
		<div class="nav-lateral" id="bottom-nav-lateral">
		
			<a id="top" href="#pagestart">&uarr; Back to Top</a>
			
		  {%if activity.game %}
		    {% if activity.pages %}
           	      <a class="navlink" href="/task/{{activity.gamepage_set.all.0.id}}/{{activity.pages.0}}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a>
		    {%endif%}
		    {% else %}
                      {% with activity.next as next_activity %}
		        {% if next_activity %}
		          <a class="navlink" href="/activity/{{next_activity.id }}/" onclick="document.completeactivity.submit();return false">Next &rarr;</a> 
			{% else %}
			  <a href="/session/{{activity.clientsession.id}}/" onclick="document.completeactivity.submit();return false">Wrap Up This Session</a> 
			{% endif %}
	              {% endwith %}
  		  {%endif%}
			
                        {% with activity.prev as prev_activity %}
					{% if prev_activity %}
			                   {% if prev_activity.game %}
				              <a href="/task/{{prev_activity.last_gamepage_obj.id }}/{{prev_activity.last_gamepage}}/"
					    onclick="if(document.completeactivity){document.completeactivity.next.value=this.href;document.completeactivity.submit();return false}"
					   >&larr; Back</a> 
					   {% else %}
					      <!--debug message-No game on previous activity-->
			                      <a href="/activity/{{prev_activity.id }}/"  onclick="if(document.completeactivity){document.completeactivity.next.value=this.href;document.completeactivity.submit();return false}">&larr; Back</a> 
					   {% endif %}
					{% else %}
					<!--START - There's no activity before this.-->
					{% endif %}
				  {% endwith %}
		</div>
				
		</form>

		</div>  

{% endblock %}
