{% extends "base.html" %}

{% block title %}Edit Counselor Informationl{% endblock %}

{% block breadcrumb-main %}
	<div id="breadcrumb-main">
	<a href="/intervention/">Home</a> &rarr; <a href="/manage/">Administrate</a> &rarr; Edit Counselor Information
	</div>
{% endblock %}

{% block content %}
<h2>Edit Counselor Information for {{counselor.username}}</h2>
<form action="." method="post">

<p><b>Name</b><br />
<input type="text" name="username" value="{{counselor.username}}" /></p>

<p><b>Active?</b> <input type="checkbox" name="status" 
{% if counselor.is_active %}checked="checked"{% endif %} /></p>

<p><b>New Password</b><br />
<input type="text" name="new_password" /> (leave blank to leave password unchanged)</p>


<input type="submit" value="Done" />
</form>

{% endblock %}
