{% extends "base.html" %}

{% block title %}{{ game.activity.long_title }}{% endblock %}

{% load participant_status %}
{% block js %}

<script>
var logstatus = function(e) {
   var xmlHttp = new XMLHttpRequest();
   var url = "/activity/{{game.activity.id}}/visit/";
   xmlHttp.open("GET", url, false);
   xmlHttp.send(null);
   setTimeout(logstatus, 1000 * 60);
};
setTimeout(logstatus, 0);
</script>


<script type="text/javascript" src="{{STATIC_URL}}js/mochikit/MochiKit/MochiKit.js"></script>

   <script type="text/javascript" src="{{STATIC_URL}}js/static_auth/local_session.js"></script>    
   <script type="text/javascript" src="{{STATIC_URL}}js/static_auth/intervention_storage.js"></script>    

   <!-- Delegate to the particular game which extra JS it needs -->
   <script>
     var game_variables = {{game.variables|safe}};
     this.ss_game_state = {};
     
    {% for v in game_variables %}
         {% if v.value %}
             this.ss_game_state['{{v.key}}'] = {{v.value|safe}};
         {% else %}
             this.ss_game_state['{{v.key}}'] = {};
         {% endif %}
    {% endfor %}
   </script>
   {% block game_js %}{% endblock %}
{% endblock %}

{% block css %}
   <!-- Delegate to the particular game extra CSS it needs -->
   {% block game_css %}{% endblock %}
{% endblock %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
	<a href="/">Home</a> &rarr; Counsel &rarr; Working with <b>{{participant.display_name}}</b> 
</div>
{% endblock %}

{% block breadcrumb-session %}
    {%if game %}
<div id="breadcrumb">
      <a class="complete" id="tab-home" href="/intervention/{{game.activity.clientsession.intervention.id}}/">Sessions</a>
        <a class="" href="/intervention/participant-report" id="report-home">Report</a> 
	<div id="breadcrumb-text">
		You are currently in: <span class="breadcrumb-text-current">Session {{game.activity.clientsession.index}}: {{game.activity.clientsession.long_title}} &rarr; Activity {{game.activity.index}}: {{ game.activity.long_title }}</span>
	</div>
</div>
    {%endif%}  
{% endblock %}

{% block content %}
  {{ block.super }}
  
  {% with game.activity.next as next_activity %}
  {% with game.activity as prev_activity %}
  {% with game.next_url as game_next_url %}
  {% with game.previous_url as game_previous_url %}

		<div id="side">
			<h2 id="sessioninfo" class="{% get_participant_status participant game.activity.clientsession %}">
				<!--<a href="/session/{{game.activity.clientsession.id}}/">Session {{game.activity.clientsession.index}}: {{game.activity.clientsession.long_title}}</a>-->
				<a href="/session/{{game.activity.clientsession.id}}/"> {{game.activity.clientsession.long_title}}</a>
			</h2>
			<div id="nav-side">
				<ul>
				{% for a in game.activity.clientsession.activity_set.all %}
				<li><a class="{% get_participant_status participant a %}
				{% if forloop.first %}first{% endif %}
				{% if forloop.last %}last{% endif %}
				{% ifequal a.id game.activity.id %}current{%else%}default{% endifequal %}
				" href="/activity/{{a.id }}/">{{a.long_title}}</a>
				{% if a.game %}<span class="task">+Task</span>{% endif %}
				</li>
				{% endfor %}
				</ul>
			</div>

		</div>

		<div id="content">
		
			<div id="session{{game.activity.clientsession.id}}" class="parentsession"></div>
			
            <div id="top-nav-lateral" class="nav-lateral" >
                {% if game_next_url %}
                    <a class="hilite" href="/task/{{game_next_url}}">
                        Next &rarr;
                    </a>
                {% else %}
    		    {% if next_activity %}
                        <a href="/activity/{{next_activity.id }}/">Next &rarr;</a> 
                    {% else %}
                        <a href="/session/{{game.activity.clientsession.id}}/">Wrap-Up Session {{game.activity.clientsession.index}}!</a>
                    {% endif %}
    		    {% endif %}
          
                {% if game_previous_url %}
                    <a class="hilite" href="/task/{{game_previous_url}}">
                        &larr; Back
                    </a>
                {% else %}{% if prev_activity %}
                    <a href="/activity/{{prev_activity.id }}/">&larr; Back</a>
                {% endif %}{% endif %}
			</div>
			
			<h3 id="activity{{game.activity.id}}" class="activitytitle">{{ game.activity.long_title }}</h3>
			
			<p>
			{{game.instructions|safe}}
			</p>			
			
			<!-- START - Delegate HTML to the particular game -->
			<div id="gamebox">
			{% block game_content %}{% endblock %}
			</div>
			<!-- STOP Delegate HTML to the particular game -->
			
            <div id="bottom-nav-lateral" class="nav-lateral" >
                <a id="top" href="#pagestart">&uarr; Back to Top</a>
                {% if game_next_url %}
                    <a class="hilite" href="/task/{{game_next_url}}">
                        Next &rarr;
                    </a>
                {% else %}
                    {% if next_activity %}
                        <a href="/activity/{{next_activity.id }}/">Next &rarr;</a> 
                    {% else %}
                        <a href="/session/{{game.activity.clientsession.id}}/">Wrap-Up Session {{game.activity.clientsession.index}}!</a>
                    {% endif %}
                {% endif %}
              
                {% if game_previous_url %}
                    <a class="hilite" href="/task/{{game_previous_url}}">
                        &larr; Back
                    </a>
                {% else %}{% if prev_activity %}
                    <a href="/activity/{{prev_activity.id }}/">&larr; Back</a>
                {% endif %}{% endif %}
            </div>
			
        </div>

    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endblock %}
