{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {{ block.super }}
    
	<h2>Welcome to Masivukeni!</h2>

 	<div id="home-widgets"">

		<div align="center">
		{% if deployment.is_online %}	
		<iframe style="border: 0px;" width="320" height="247" src="//www.youtube.com/embed/CrWlpHuxA-E" frameborder="0" allowfullscreen></iframe>
		{% else %}
		<img src="{{STATIC_URL}}images/realsession.jpg" />
		{% endif %}
		</div>
	
	</div>
	
 	<div id="home-copy">
 	
 		<p>
 		"Masivukeni" means "let's wake up" in English&mdash;so what are you waiting for? 
 		<br />
 		<a href="/intervention/" id="start-link">Let's get started!</a>
 		</p>
 		
		<p>
		Masivukeni is a new adherence to HIV care and treatment intervention being piloted in South Africa. It is based on a proven dyadic-focused adherence intervention called "SMART Couples," which was developed at the HIV Center by Dr. Robert H. Remien and his colleagues. Masivukeni is a collaboration between CCNMTL, the HIV Center, and researchers at the University of Cape Town, South Africa.
		</p>
	
		<p>
		The Masivukeni intervention is a computer-based system used by non-professional peer counselors to help patients improve adherence to care by enlisting support from someone in their social support network (e.g., a partner, friend, or family member), so that together they can understand the importance of taking their medication as prescribed and maintaining high levels of overall treatment adherence.
		</p>
		
		<p>
		The study is funded by the NIMH under a grant titled 'A Multimedia Social Support Intervention: Adherence to HIV Care in South Africa' and is in its second year.
		</p>
		{% if deployment.is_online %}
		<p>
		For detailed information, visit CCNMTL's <a href="http://ccnmtl.columbia.edu/portfolio/medicine_and_health/masivukeni.html" target="blank">Masivukeni Project Page</a>.
		</p>
		{% endif %}
	
	</div>
	
{% endblock %}
