{% extends "base.html" %}
{% load participant_status %}

{% block title %}Sessions{% endblock %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
    <a href="/">Home</a> &rarr; Sessions 
</div>
{% endblock %}

{% block breadcrumb-session %}
<div id="breadcrumb">
	<a class="complete current" href="#" id="tab-home">Sessions</a> 
	<a class="" href="/intervention/participant-report" id="report-home">Report</a> 
	</div>
{% endblock %}

{% block content %}
    {{ block.super }}
      <h2>Sessions</h2>

{% participant_completed_all_sessions_in_intervention participant intervention as all_done %}
{% if all_done %}
<div id="closemessage">

	<h3>Congratulations!</h3>

	<p style="text-align: center; padding-bottom: 20px;">
	You've completed all the sessions!
	</p>

	<a style="display: inline;" class="action" href="#" onclick="document.getElementById('closemessage').style.display = 'none';">Close this Window</a>
	
</div>
{% endif %}

        <p class="instructions">
       Select a session to get started!
	  </p>

	<div id="navigator">
	  <ul class="primary">
        {% for session in intervention.clientsession_set.all %}
	{% if not session.defaulter or participant.defaulter %}
	   <li><a id="session{{session.index }}" 
		  class="session 
			 {% get_participant_status participant session %}
			 {% ifequal session.id next_session.id %}hilite{%else%}default{% endifequal %}" 
		  href="/session/{{session.id}}/">
	     {{ session.long_title }}
	    </a></li>
         {% endif %}
        {% endfor %}
	  </ul>
	  <ul class="secondary" style="background-color: #fff;">
	  </ul>
	</div>


  <p><a href="{% url 'intervention-report' participant.pk %}">REPORT</a></p>
  
{% endblock %}
