{% extends 'base.html' %}

{% block title %}Report{% endblock %}
{% load participant_status %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
    <a href="/">Home</a> &rarr; Sessions 
</div>
{% endblock %}

{% block breadcrumb-session %}
<div id="breadcrumb">
	<a class="complete" href="/intervention/1" id="tab-home">Sessions</a> 
	<a class="current" href="#" id="report-home">Report</a> 
	</div>
{% endblock %}

{% block content %}
<div id="participant-report">

<h3>Today you worked on Masivukeni for {{ participant.total_session_duration }} minutes.</h3>
<ul>
{% for session, t, activities in participant_session_durations  %}
  {% if t > 0 %}
    <li>{{ session }} minutes
        <ul>
            {% for activity in activities %}
              <li>{{ activity }}</li>
            {% endfor %}
        </ul>
    </li>
  {% endif %}
{% endfor %}
</ul>

{% if particiant.all_counselor_notes or participant.ssnmtree_total or participant.mood_score or participant.alcohol_score or participant.lifegoals_data.regular or participant.problem_solving_data.defaulter or participant.has_referral or participant.buddy_name or participant.get_pill_data %}

{% if participant.all_counselor_notes %}
<h4>Questions and Concerns</h4>
<p>You entered these questions and concerns today.</p>
{% for cn in participant.all_counselor_notes %}
{% if cn.notes %}
{{cn.notes}} <br />
{% endif %}
{% endfor %}
{% endif %}

{% if participant.buddy_name %}
<h4>My Buddy</h4>
My buddy is {{ participant.buddy_name }}
{% endif %}

{% if participant.ssnmtree_total %}
<h4>My Support Tree</h4>
<p>You thought about all the people in your life, and listed people who can help you and who already know your HIV Status.</p>
<strong>People in my life:</strong><br/>
<ul>
{% for name in participant.ssnmtree_total %}
<li>{{ name }}</li>
{% endfor %}
</ul>
<strong>People who can give me help:</strong><br/>
<ul>
{% for name in participant.ssnmtree_supporters %}
<li>{{ name }}</li>
{% endfor %}
</ul>
<strong>People who know my status:</strong><br/>
<ul>
{% for name in participant.ssnmtree_confidants %}
<li>{{ name }}</li>
{% endfor %}
</ul>
{% endif %}

{% if participant.mood_score %}
<h4>My Mood</h4>
<p>You answered some questions to evaluate your mood over the past month. This is the feedback you got about your mood:</p>
{% if participant.mood_score < 20 %}
  <strong>There is no significant distress.</strong>
{% elif participant.mood_score >= 20 and participant.mood_score < 25 %}
  <strong>Mild distress.</strong><br/>
  <p>It seems like you are having some distress. Distress like this can affect how you feel (e.g., depression and/or anxiety) and can get in the way of getting things done, like taking your ARVs. There are people trained (e.g., psychologists, social workers, counselors) to talk to you and help you feel better. You may want to see someone like this. You can get started by asking for a referral at your clinic.</p>
{% elif participant.mood_score >= 25 and participant.mood_score < 30 %}
  <strong>Moderate distress.</strong><br/>
  <p>It seems like you are experiencing some distress. Distress like this can affect how you feel (e.g., depression and/or anxiety) and can get in the way of accomplishing everyday things, like taking your ARVs. You don't have to feel this way. In fact, there are people trained (e.g., psychologists, social workers, counselors) to talk to you and help you feel better and not let your distress get in your way. You may want to see someone like this. You can get started by asking for a referral at your clinic.</p>
{% elif participant.mood_score >= 30 and participant.mood_score < 51 %}
  <strong>Severe distress.</strong><br/>
  <p>It seems like you're really experiencing a lot of distress, which may be affecting your life. So much distress like this can affect how you feel (e.g., depression and/or anxiety) and can get in the way of accomplishing everyday things, like taking your ARVs. You don't have to feel this way. In fact, there are people trained (e.g., psychologists, social workers, counselors) to talk to you and help you feel better and not let your distress get in your way. You may want to see someone like this. You can get started by asking for a referral at your clinic.</p>
{% endif %}
{% endif %}

{% if participant.alcohol_score %}
<h4>My Use of Alcohol</h4>
<p>You answered some questions to evaluate your use of alcohol over the past month. This is the feedback you got:</p>
{% if participant.alcohol_score < 8 %}
  <strong>There are no issues.</strong>
{% elif participant.alcohol_score >= 8 and participant.alcohol_score < 16 %}
  <strong>Mild drinking issues.</strong>
  <p>Drinking can interfere with your life, and lead to problems, like not taking your ARVS correctly. Have you ever thought about talking with someone about the problems drinking can cause?  If you are interested in talking with someone who could help, someone at your clinic can give you a referral.</p>

{% elif participant.alcohol_score >= 16 and participant.alcohol_score < 20 %}
  <strong>Moderate drinking issues.</strong>
  <p>It seems like your drinking could be interfering with your life and health. Excessive drinking can lead to all sorts of problems, like not taking your ARVs correctly. It would be a good idea to talk to someone about your drinking to ensure it doesn't interfere with your life. If you are interested in talking with someone who could help, someone at your clinic can give you a referral.</p>

{% elif participant.alcohol_score >= 20 %}
  <strong>Severe drinking issues.</strong>
  <p>It seems like your drinking could really be causing some serious problems for you and be interfering with your life and health. Excessive drinking can also get in the way of you taking your ARVs and staying healthy. It would be a good idea to talk to someone about your drinking to ensure it doesn't interfere with your life. If you are interested in talking with someone who could help, someone at your clinic can give you a referral.</p>
{% endif %}
{% endif %}

{% if participant.drug_score %}
<h4>My Use of Drugs</h4>
<p>You answered some questions to evaluate your use of drugs over the past month. This is the feedback you got:</p>
{% if participant.drug_score > 0 %}
  <p>It seems like your drug use could be causing some serious problems for you, which could get in the way of you taking your ARVs and staying healthy. It would be a good idea to talk to someone about your drug use to ensure it doesn't interfere with your life. If you are interested in talking with someone who could help, someone at your clinic can give you a referral.</p>
{% else  %}
  <p>There are no issues.</p>
{% endif %}
{% endif %}

{% if participant.lifegoals_data.regular %}
<h4>Reasons to Stay Healthy</h4>
<p><strong>You listed some reasons you want to stay healthy:</strong></p>
<ul>
{% for reason in participant.lifegoals_data.regular %}
  <li>{% get_index participant.lifegoals_data.regular reason %}</li>
{% endfor %}
</ul>
{% endif %}

{% if participant.problem_solving_data.defaulter %}
<h4>Barriers to Staying on My Treatment</h4>
<p>You looked at a list of reasons some people don't stay on their medication and picked the ones that feel like problems for you too. You also made a plan to solve some of these problems. Here are the barriers you picked and the plans you made:</p>
{% with data=participant.problem_solving_data.defaulter %}
{% for issue, reason in data.items %}
<h5>{% get_barrier_title issue %}</h5>
<ul>
   {% if reason.barriers %}
   <li><strong>Why this is a challenge for me:</strong><ul><li>{{ reason.barriers }}</li></ul></li>
   {% endif %}
   
   {% if reason.proposals %}
   <li><strong>What can help me overcome this challenge:</strong><ul><li>{{ reason.proposals }}</li></ul></li>
   {% endif %}

   {% if reason.finalPlan %}
   <li><strong>My plan:</strong><ul><li>{{ reason.finalPlan }}</li></ul></li>
   {% endif %}
</ul>
{% endfor %}
{% endwith %}
</ul>
{% endif %}


{% if participant.initial_referral_mental_health or participant.initial_referral_alcohol or participant.initial_referral_drug_use or participant.initial_referral_other %}
    <h4>Referral Information</h4>
    Referral given for:
    <ol>
    {% if participant.initial_referral_mental_health %}
    <li>Mental health</li>
    {% endif %}
    {% if participant.initial_referral_alcohol %}
    <li>Alcohol</li>
    {% endif %}
    {% if participant.initial_referral_drug_use %}
    <li>Drug Use</li>
    {% endif %}
    {% if participant.initial_referral_other %}
    <li>Other</li>
    {% endif %}
    </ol>
    
    {% if participant.initial_referral_notes %}
    <h4>Addional Notes About the Referral(s)</h4>
    <p>{{ participant.initial_referral_notes }}</p>
    {% endif %}
{% endif %}

{% if participant.get_pill_data %}
  <h4>ARV Information</h4>
  {% if participant.get_day_pills %}
  <p>You have indicated that you take the following ARVs each morning at {{ participant.get_day_pill_time }}</p>
  <ul>
  {% for pill in participant.get_day_pills %}
    <li>{{ pill }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if participant.get_night_pills %}
  <p>You have indicated that you take the following ARVs each evening at {{ participant.get_night_pill_time }}</p>
  <ul>
  {% for pill in participant.get_night_pills %}
    <li>{{ pill }}</li>
  {% endfor %}
  </ul>
  {% endif %}
{% endif %}


{% else %}
<p>You have not entered any personal information yet.</p>
{% endif %}
</div>
{% endblock %}
