{% extends 'base.html' %}
{% block css %}
<style type="text/css">
p {
  font-family: courier;
}
.ERROR {
  color: #ffffff;
  background-color: #ff0000;
  font-weight: bold;
}
.WARN {
  color: #ff6600;
  font-weight: bold;
}
.INFO {
  color: #006600;
}
</style>
{% endblock %}

{% block content %}

<h4>Logs</h4>

{% for log in logs %}
  {% if log.error %}<p class="ERROR">ERROR: {{log.error}}</p>{% endif %}
  {% if log.warn %}<p class="WARN">WARNING: {{log.warn}}</p>{% endif %}
  {% if log.info %}<p class="INFO">INFO: {{log.info}}{% endif %}</p>
{% endfor %}


{% endblock %}
