{% extends "base.html" %}

{% block title %}{{ session.long_title }}{% endblock %}

{% load participant_status %}

{% block js %}
{% if session %}

<script>
var logstatus = function(e) {
   var xmlHttp = new XMLHttpRequest();
   var url = "visit/";
   xmlHttp.open("GET", url, false);
   xmlHttp.send(null);
   setTimeout(logstatus, 1000 * 60);
};
setTimeout(logstatus, 0);
</script>

{% endif %}
{% endblock %}

{% block breadcrumb-main %}
<div id="breadcrumb-main">
    <a href="/">Home</a> &rarr; <a href="/intervention/{{session.intervention.id}}/" >Sessions</a> &rarr; {{session.long_title}} 
</div>
{% endblock %}

{% block breadcrumb-session %}
{%if session %}
<div id="breadcrumb">
	<form name="completesession" action="complete/" method="post"></form>
      <a class="complete" id="tab-home" href="/intervention/{{session.intervention.id}}/">Sessions</a>
	<a class="" href="/intervention/participant-report" id="report-home">Report</a> 
</div>
{%endif%}  
{% endblock %}

{% block content %}
{% participant_completed_all_activities_in_session participant session as ready_to_complete %}
{% if ready_to_complete %}
	<a href="#" class="action" id="endintervention" onclick="document.completesession.submit()">Click to Complete This Session</a> 	   
{% endif %}
    {{ block.super }}
    
    {% if session %}

      <h2 class="session-home">{{ session.long_title }}</h2>

      {% if session.introductory_copy %}
	<p class="instructions">{{session.introductory_copy|safe}}</p><hr />
      {% endif %}
      {% if activities %}   
      
       <p class="instructions">
	 Great! Now, click on an activity to work on.
	  </p>
	  
   	<div id="navigator">
	  <ul class="primary">
        {% for s in session.intervention.clientsession_set.all %}
	{% if not s.defaulter or participant.defaulter %}
	   <li><a id="session{{s.index }}" class="session {% get_participant_status participant s %} {% ifequal session.id s.id %}current{% endifequal %} {% ifequal s.id next_session.id %}hilite{%else%}default{% endifequal %}" href="/session/{{s.id }}/">
	     {{ s.long_title }}
	    </a></li>
	{% endif %}
        {% endfor %}
	  </ul>
	  <ul class="secondary">
        {% for activity in activities %}
	   <li><a id="activity{{activity.index }}" class="activity {% get_participant_status participant activity %} {% ifequal activity.id next_activity.id %}hilite{%else%}default{% endifequal %}" href="/activity/{{activity.id }}/">
	     Activity {{forloop.counter}}: {{ activity.short_title }}</a>
	     {% if activity.game %}<span class="task">+Task</span>{% endif %}
           </li>
        {% endfor %}
	  </ul>
	</div>

       {% else  %}
         <p>No activities defined for this session.</p>
       {% endif %}

{% else %}
    <p>No session defined.</p>
{% endif %}

{% endblock %}
