{% load participant_status %}

{% block js %}
<script>
var game_variables = {{activity.variables|safe}};
</script>

{% if activity %}

<script>
var logstatus = function(e) {
   var xmlHttp = new XMLHttpRequest();
   var url = "visit/";
   xmlHttp.open("GET", url, false);
   xmlHttp.send(null);
   setTimeout(logstatus, 1000 * 60);
};
setTimeout(logstatus, 0);
</script>

{% endif %}

{% endblock %}

{% block event_content %}
    {%if activity.game %}
        {% if activity.pages %}
            {% for game in activity.gamepage_set.all %}
                {% for gamevar in participant.participantgamevar_set.all %}
                    {% if activity.game == gamevar.key %}
                        <h3 id="activity{{activity.id}}" class="activitytitle">{{ activity.long_title }}</h3>
                        <strong>{{activity.game}}</strong>
                        {% dump_object_vars gamevar %}
                    {% endif %}
                {% endfor %}
                {# include "intervention/view_participant_activity_progress_game.html" #}
            {% endfor %}
        {%endif%}
    {% endif %}
{% endblock %}
