#select_line_1, #select_line_2
{
	float: left;
	width: 190px;
	margin: 50px 0px 0px 50px;
	height: 35px;
	text-align: center;
	padding-top: 8px;
}


.line_unselected
{
	width: 190px;
	height: 35px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	background-image: url(../../images/button_short_gray.png);
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	padding-top: 9px;
	text-transform: capitalize;
	cursor: pointer;
}

.line_unselected:hover { background-image: url(../../images/button_short_gray_over.png); }

.line_selected
{
	width: 190px;
	height: 35px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	background-image: url(../../images/button_short_orange.png);
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	padding: 9px 0 0px 0;
	text-transform: capitalize;
}

.line_selected:before { content: "Your Choice: "; }

p#linetext
{
	text-align: center;
	margin: 20px 20px 20px 20px;
}

.page_2_pill_group {
background-color:#EEEEEE;
border:1px solid #CCCCCC;
display:block;
font-weight:bold;
margin:20px;
padding:6px;
text-align:center;
width:475px;
}

/*
.page_2_pill_group:before { content: "Group: "; }
*/

.page_2_pill
{
background-color:#FFFFFF;
border:1px solid #CCCCCC;
float:left;
font-weight:normal;
height:80px;
margin:10px;
padding:6px;
text-align:center;
width:124px;
}

.page_2_selected_pill
{
	text-align: center;
	padding: 6px 6px 6px 6px;
	margin: 10px;
	border: 1px solid #fc9;
	background-color: #ffc;
	font-weight: normal;
}

.pill_fact_div {margin-top: 5px;}

#game-content { overflow: auto; }

/* Box that goes behind each pill on the left side of page 3: */
.page_3_pill_info
{
	text-align: center;
	height: 100px;
	width: 100px;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	background-image: url(../images/pillboxsingle.png);
	background-repeat: no-repeat;
	background-position: center center;
}

/*NOTE: the actual left and top values are still set in the javascript, relative to the placement of each pill.

    To change them, edit:

    box_offset_from_pill_x = -40;
    box_offset_from_pill_y = -40;
   
    in Pill.prototype.draw_box function toward the bottom of file drop_into_bins.js    
    
*/

/* Box enclosing dosage (600 mg.) and frequency (Every 24 hrs.) on the left side of page 3: */
.page_3_pill_info_fact
{
	font-size: 10px;
	text-align: left;
	margin: 20px;
	padding: 4px 4px 4px 4px;
	background-color: #fff;
	height: 10px;
	width: 80px;
	font-weight: normal;
	z-index: 2;
	position: absolute;
}

.mg_fact:before { content: ""; }

.mg_fact:after { content: " mg."; }

/*Dosage offset relatve to the page_3_pill_info that encloses it:*/
.mg_fact
{
	left: -15px;
	top: 18px;
}

.hrs_fact:before { content: "Every "; }

.hrs_fact:after { content: " hrs."; }

/*Frequency offset relatve to the page_3_pill_info that encloses it:*/
.hrs_fact
{
	left: -15px;
	top: 50px;
}


/* start - pill game print styles */

h3.arv {display: none;}

label {display: none;}

select#day_pills_time_print {display: none;}

select#night_pills_time_print {display: none;}

#night_pill_info_text {display: none;}

#day_pill_info_text {display: none;}

/* end - pill game print styles */
