.pill-delete, .add-a-pill, .pill-bucket, .time select {
    display: none;
}

h3.activitytitle {
    display: none !important;
}

.printonly {
    display: block;
}

.pill-bucket-container {
    width: 190px;
    height: 210px;
    margin-bottom: 10px;
}

#pill-game-container {
    clear: both;
}

.time {
    text-align: left;
    width: 100%;
    margin-top: 5px;
}

.time span {
    width: 110px;
    font-size: 70%;
    display: inline;
}

.time select {
    width: 80px !important;
}

#medication-reminder {
    font-size: 90%;
}

#medication-reminder div.medication_reminder_bucket {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}