#mode, #pill-template, .printonly {
    display: none;
}

#pill-game-container {
    width: 99%;
    height: 450px;
    vertical-align: top;
}

div.pill-list {
    float: left;
    height: 95%;
    width: 66%;
    margin: 10px;
}

div.pill-buckets {
    float: left;
    width: 29%;
    margin: 10px 10px 10px 0;
    text-align: center;
}

div.pill-bucket {
    background-repeat: no-repeat;
    width: 190px;
    height: 210px;
    
}

div.pill-bucket .time {
    padding-top: 175px;
}

div#day.pill-bucket {
    background-image: url('/site_media/pill_game/images/bucket_day.png');
    margin-bottom: 10px;
}

div#night.pill-bucket {
    background-image: url('/site_media/pill_game/images/bucket_eve.png');
}

.pill {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 3px;
    width: 95%;
    height: 30px;
    border: 1px solid #ccc;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.pill-text {
    float: left;
}

.pill-image, .draggable {
    float: right;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius:155px;
    -moz-border-radius: 155px;
    -webkit-border-radius: 155px;
    background-position: center center;
    margin-right: 5px;
    color: #E8F3F8;
    border: 1px solid #ccc;
    cursor: pointer;
}

.draggable {
   margin-top: -11px;
   margin-right: -10px;
}

.one {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, blue 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(blue));
}

.two {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, red 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(red));
}

.three {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, green 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(green));
}

.four {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, darkorange 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(darkorange));
}

.five {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, yellow 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(yellow));
}

.six {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, black 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(black));
}

.seven {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, purple 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(purple));
}

.eight {
    background-image: -moz-radial-gradient(65% 35%
        45deg, circle , #ffffff 1%, darkturquoise 100%);
    background-image: -webkit-gradient(radial, 65% 35%, 1,
     center center, 30, from(#ffffff), to(darkturquoise));
}


.timeofday {
    
}
