{% extends 'base.html' %}

{% block content %}
<h1>Admin Data Dashboard</h1>

{% if missing_deployments %}
<h2>Missing Deployment Data</h2>
<p>Please check to make sure you have uploaded backups for each
	deployment</p>
{% else %}
<h2>Data Summary</h2>

<table border="1">
	<thead>
		<tr>
			<th>Clinic</th>
			<th>Most recent data upload</th>
			<th># participants</th>
		</tr>
	</thead>

	<tbody>
{% for clinic in clinics %}
		<tr>
			<td>{{clinic.deployment}}</td>
			<td>{{clinic.created}}</td>
			<td>{{clinic.num_participants}}</td>
		</tr>
{% endfor %}
	</tbody>

</table>

<h2>Clinic Details</h2>

{% for clinic in clinics %}
<h3>{{clinic.deployment}}</h3>


<table border="1">
	<thead>
		<tr>
			<th>patient id</th>
			<th>id number</th>
			<th>gender</th>
			<th>buddy?</th>
			<th>Initial Referral<br />(A|D|M|O)</th>
			<th>Defaulter?<br />(A|D|M|O)</th>
			<th>Counselor Notes?</th>
			<th># completed sessions</th>
			<th># incomplete sessions</th>
			<th># completed activities</th>
			<th># session visits</th>
			<th># activity visits</th>
		</tr>
	</thead>
	<tbody>
{% for participant in clinic.participants %}
    <tr>
			<td>{{participant.patient_id}}</td>
			<td>{{participant.id_number}}</td>
			<td>{{participant.gender}}</td>
			<td>{{participant.has_buddy}}</td>
			<td>{{participant.initial_referral_status}}</td>
			<td>{{participant.defaulter_status}}</td>
			<td>{{participant.has_counselor_notes}}</td>
			<td>{{participant.num_completed_sessions}}</td>
			<td>{{participant.num_incomplete_sessions}}</td>
			<td>{{participant.num_completed_activities}}</td>
			<td>{{participant.num_session_visits}}
				{% if participant.num_session_visits %}
				<ul>
				{% for sv in participant.session_visits %}
				<li>{{sv.timestamp}}: {{sv.session}}</li>
				{% endfor %}
				</ul>
				{% endif %}
			</td>
			<td>{{participant.num_activity_visits}}
				{% if participant.num_activity_visits %}
				<ul>
				{% for av in participant.activity_visits %}
				<li>{{av.timestamp}}: {{av.activity}}</li>
				{% endfor %}
				</ul>
				{% endif %}
</td>
		</tr>
{% endfor %}
  </tbody>
</table>
{% endfor %}

{% endif %}
{% endblock %}
