{% extends "intervention/game.html" %}


{% block game_js %}
          <script type="text/javascript" src="{{INTERVENTION_MEDIA}}js/mochikit/MochiKit/MochiKit.js"></script> 
          <script type="text/javascript" src="{{INTERVENTION_MEDIA}}problemsolving_game/js/problemsolving.js"></script> 
{% endblock %}


{% block game_css %}
  <link href="{{INTERVENTION_MEDIA}}problemsolving_game/css/problemsolving.css" rel="stylesheet" type="text/css" media="screen"  />
  <link href="{{INTERVENTION_MEDIA}}problemsolving_game/css/problemsolving_print.css" rel="stylesheet" type="text/css" media="print"  />
{% endblock %}



{% block game_content %}
<div id="gamephase" class="{{game_context.mode}}">
  <div>
  <div id="issue-list">
    <div class="issue currentissue">
      <div class="issuetext">I am away from home when I have an appointment at the clinic</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-travel.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">Being at the clinic takes too much time, and is too unpleasant</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barriers-clinic.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">I have not disclosed my status to my extended family</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-feartodislose.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">When I drink too much, I forget to take my medications</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-booze.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">I don't have enough people to support me in my treatment</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-alone.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">If I forget to take my medication I am afraid to come back to the clinic</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-angrynurse.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">I am not comfortable with the clinic staff</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier_uncomfortablewstaff.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">I feel so well now that I do not need to take the medicines</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barriers_happy.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">The medication makes me feel sick</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-feelingill.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">There are other treatments that I think work better</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-othermedicine.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">I stop taking my medication when I have a cold, or flu, or other problems</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier_sickwithcold.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">Sometimes I just forget to take my medication</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-forgetful.png" />
      </div>
    </div>
    <div class="issue">
      <div class="issuetext">It is difficult to get to the clinic</div>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barrier-cantgettoclinic.png" />
      </div>
    </div>
    <div class="issue editable-issue">
      <textarea class="issuetext" name="other">I have a different issue</textarea>
      <div class="issueimage">
	<img src="{{INTERVENTION_MEDIA}}problemsolving_game/images/issues/barriers_other.png" />
      </div>
    </div>
  </div>
  <!--PART I, ONLY-->
  <div id="isthisanissue">
  <div id="issueyesno">
    <h3>Is this an issue for you?</h3>
    
      <input type="button" class="yes" name="issue" onclick="ProblemSolveGame.answerIssue(true)" value="Yes" />
      <input type="button" class ="no" name="issue" onclick="ProblemSolveGame.answerIssue(false)" value="No" />
    </div>
   
 
   <a id="prev-issue-link" class="return" href="#" onclick="ProblemSolveGame.previousIssue()"><< return to previous issue</a> </div>  

    {%if game_context.needsvideo %}
    <!--PART I,IV ONLY-->  
    <div id="videobox">
     <object id="video_object" classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B' width="{{game_context.width}}"
        height="{{game_context.height}}" codebase='http://www.apple.com/qtactivex/qtplugin.cab'>
        <param  id="video_src" name='src' value="{{relative_root}}.{{MEDIA_URL}}{{game_context.video}}" />
        <param name='autoplay' value="false" />
        <param name='controller' value="true" />
        <param name='loop' value="false" />
        <embed id="video_embed" src="{{relative_root}}.{{MEDIA_URL}}{{game_context.video}}" width="{{game_context.width}}" height="{{game_context.height}}" autoplay="false" 
        controller="true" loop="false" pluginspage='http://www.apple.com/quicktime/download/'>
        </embed>
      </object>
    </div>  
    {%endif%}

   <!--PART IV, ONLY-->  
  <div id="formworkthrough">
    <form id="workthrough_form" name="workthrough_form">
      <div id="field-ask" class="problemsolve-field">
	<label for="ask">Ask</label>
	<input type="text" name="ask" />
	<a class="videolink" href="{{relative_root}}.{{MEDIA_URL}}{{game_context.videos.ask}}"></a>
      </div>
      <div id="field-aim" class="problemsolve-field">
	<label for="aim">Aim</label>
	<textarea name="aim" rows="3"></textarea>
	<a class="videolink" href="{{relative_root}}.{{MEDIA_URL}}{{game_context.videos.aim}}"></a>
      </div>
      <div id="field-alternatives" class="problemsolve-field">
	<label for="alternatives">Alternatives</label>
	<input type="text" name="alternatives" />
	<input type="text" name="alternatives2" />
	<input type="text" name="alternatives3" />
	<a class="videolink" href="{{relative_root}}.{{MEDIA_URL}}{{game_context.videos.alternatives}}"></a>
      </div>
      <div id="field-action" class="problemsolve-field">
	<label for="action">Action</label>
	<textarea name="action" rows="3"></textarea>
	<a class="videolink" href="{{relative_root}}.{{MEDIA_URL}}{{game_context.videos.action}}"></a>
      </div>
      <a id="form-continue" href="#gamephase" class="problemsolve-continue">
	Continue
      </a>
    </form>

  </div>
</div>

{% endblock %}
