{% extends "intervention/game.html" %}

{% block game_js %}
    <script type="text/javascript" src="/site_media/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/site_media/js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/site_media/js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/site_media/ssnmtree_game/js/ssnmtreeview.js"></script>
    
    <script type="text/javascript" src="/site_media/problemsolving_game/js/problemsolvingview.js"></script> 
{% endblock %}

{% block game_css %}
  <link href="/site_media/problemsolving_game/css/problemsolving.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block game_content %}

    <div class="issue-selector">
        {% for issue in game_context.issues %}
            <div id="{{issue.name}}" class="issue-number" unselectable="on">{{issue.ordinality}}</div>
        {% endfor %}
    </div>
    
    <div class="issue-gallery">
        <div id="previous_issue" class="issue-navigation issue-gallery-item">
            <span unselectable="on"></span><img style="display: none" src="/site_media/images/leftarrow.png"></img>
        </div>
        
        <div id="issue_details" class="issue-gallery-item">
            <div class="issue-number infocus"></div>
            <img class="issue-image"/>
            <div class="issue-text"></div>
            
            <div class="personal-issue">
                <div class="personal-issue-label">Issue?</div> 
                <div class="personal-issue-toggle iphone-toggle-buttons"> 
                    <ul>
                        <li>
                            <label for="checkbox-personal-issue">
                                <input type="checkbox" id="checkbox-personal-issue"><span></span>
                            </label>
                       </li> 
                   </ul>
                </div>
            </div>
            
            <div id="actionplan" style="display: none">
                <a href="#">Make Plan</a>
            </div>
        </div>
        
        <div id="next_issue" class="issue-navigation issue-gallery-item">
            <span unselectable="on"></span><img src="/site_media/images/rightarrow.png"></img>
        </div>
    </div>
    
    <div class="issue-action-plan">
    
    </div>
        
    <div id="issue-list" style="display: none">
        {% for issue in game_context.issues %}
            <div class="issue">
                <div class="name">{{issue.name}}</div>
                <div class="text">{{issue.text}}</div>
                <div class="image">/site_media/problemsolving_game/images/issues/barrier-{{issue.name}}.png</div>
                <div class="ordinality">{{issue.ordinality}}</div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
