/** Top Numbered Issue Selector **/

#gamebox
{
	border: 1px solid #ccc !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.issue-selector {
    text-align: center;
    height: 40px;
    margin: 10px 3px 0px 3px;
}

.issue-number {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    display: block;
    float: left;
    margin-left: 3px;
    width: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    color: gray;
    -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
}

.issue-number.personal {
    color: black;
    background-color: #ffebc4;
    background-image: none;
}

.issue-number.complete {
    color: black;
    background-color: #f58e33;
    background-image: none;
}

.issue-number.infocus,
.issue-number:hover {
    padding: 4px;
    border: 3px solid #f58e33; 
}


/** Issue Gallery Container to display individual issues, prev and next navigation **/

.issue-gallery {
    width: 99%;
    height:250px;
    margin: 10px;  
}

.issue-gallery-item {
    float: left;
}

/** Prev & Next buttons **/
.issue-navigation {
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 7%;
}

.issue-navigation span {
    height: 50%;
    display: inline-block;
    width: 1px;
    -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
}

/** Individual Issue Display **/
div#issue_details {
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px;
    margin: 1px 5px 5px 5px;
    text-align: center;
    background-color: #fcead7;
    border: 1px solid #ccc;
    color: black;  
}

div#issue_details div.issue-number {
    position: absolute;
}

div#issue_details div.issue-number:hover {
    border: 1px solid #ccc;
    padding: 7px;
}

div#issue_details img.issue-image {
    width: 50%;
    height: auto;
    float: left;
}

div#issue_details div.issue-text-container {
    width: 45%;
    height: 110px;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px;
    margin: 5px 5px 0px 5px;
    text-align: left;
    vertical-align: center;
    background-color: white;
    color: black;      
}

div#issue_details div.issue-text-container div.issue-text {
    font-weight: bold;
    font-size: 80%;
}

div#issue_details div.issue-text-container div.issue-subtext, div#issue_details div.issue-text-container div.issue-subtext li {
    margin-top: 5px;
    font-size: 11px;
}

div#issue_details div.issue-text-container div.issue-subtext ul {
    margin: 0px 0px 0px -22px;
}

div#issue_details div.issue-text-container div.issue-subtext li {
    line-height: 13px;
}

div#issue_details div.personal-issue-container {
    height: 100px;
    float: right;
    width: 50%;
}

div#issue_details div.personal-issue-container div.personal-issue {
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

div#issue_details div.personal-issue-container div.personal-issue div.personal-issue-label,
div#issue_details div.personal-issue-container div.personal-issue div.personal-issue-toggle {
    float: right;    
}

div#issue_details div.personal-issue-container div.personal-issue div.personal-issue-label {
    width: 50%;
    text-align: left;
    margin-right: 10px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
}

div#issue_details div#actionplan {
    margin-top: 10px;
    text-align: center; 
    float: right;
    width: 100%;
}

div#issue_details div#actionplan a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: #4ea15a;
    display: inline-block;
    width: 100px;
    height: 20px; 
}

/** Individual Issue Display **/
div#actionplan_form {
    margin: 10px;
    color: black;  
    text-align: left;
    font-size: 80%;
    padding-top: 5px;
    clear: both;
}

div#actionplan_form label {
    display: block;
    padding: 10px;
    margin:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	font-weight: bold;
}

div#actionplan_form textarea {
    width: 98%;
    max-width: 485px;
    max-height: 150px;
}

div#actionplan_form div#example li, div#actionplan_form div#example ul {
    font-size: 80%;
}

div#actionplan_form div#example ul {
    margin-top: 5px;
}

div#actionplan_form input[type=submit] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: #4ea15a;
    display: inline-block;
    width: 120px;
    height: 30px;     
    float: right;
}

/** iPhone Type Toggle Buttons **/
/** http://acidmartin.wordpress.com/2011/06/18/css3-iphone-toggle-buttons/ **/
.iphone-toggle-buttons ul {
    padding: 0;
    margin: 0;
}
.iphone-toggle-buttons li {
    list-style: none;
}

.iphone-toggle-buttons input[type="checkbox"] + span::after
{
    content: "No";
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span::after
{
    content: "Yes";
}

.iphone-toggle-buttons
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.iphone-toggle-buttons label,
.iphone-toggle-buttons input[type="checkbox"] + span,
.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after
{
	display: inline-block;
	text-transform: capitalize;
	font-family: "lucida sans unicode", "lucida grande", sans-serif;
}

.iphone-toggle-buttons label,
.iphone-toggle-buttons input[type="checkbox"] + span
{
    vertical-align: middle;
}

.iphone-toggle-buttons input[type="checkbox"] + span,
.iphone-toggle-buttons input[type="radio"] + span,
.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="radio"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="radio"] + span::after
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::before,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::after
{
    top: 0;
}

.iphone-toggle-buttons input[type="checkbox"] + span::after,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::before
{
    right: 0;
}

.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="checkbox"]:checked + span::after
{
    left: 0;
}

.iphone-toggle-buttons input[type="checkbox"],
.iphone-toggle-buttons input[type="checkbox"] + span::before,
.iphone-toggle-buttons input[type="checkbox"] + span::after
{
    position: absolute;
}

.iphone-toggle-buttons label
{
    margin: 4px;
    cursor: pointer;
}

.iphone-toggle-buttons input[type="checkbox"]
{
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

.iphone-toggle-buttons input[type="checkbox"] + span
{
    width: 100px;
    height: 30px;
    font: bold 14px/30px Arial, Sans-serif;
    color: #8c8c8c;
    text-transform: uppercase;
    border: solid 1px #bcbbbb;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8c8c8", endColorstr="#f3f3f3");
    background: -moz-linear-gradient(top, #c8c8c8, #f3f3f3);
    background: -webkit-linear-gradient(top, #c8c8c8, #f3f3f3);
    background: -o-linear-gradient(top, #c8c8c8, #f3f3f3);
    background: -ms-linear-gradient(top, #c8c8c8, #f3f3f3);
    background: linear-gradient(top, #c8c8c8, #f3f3f3);
    position: relative;
    text-indent: -9999px;
}

.iphone-toggle-buttons input[type="checkbox"] + span::before
{
    content: "";
    width: 40%;
    height: 29px;
    border-top: solid 1px #fff;
    border-right: solid 1px #bebebe;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#f9f9f9");
    background: -moz-linear-gradient(top, #cfcfcf, #f9f9f9);
    background: -webkit-linear-gradient(top, #cfcfcf, #f9f9f9);
    background: -o-linear-gradient(top, #cfcfcf, #f9f9f9);
    background: -ms-linear-gradient(top, #cfcfcf, #f9f9f9);
    background: linear-gradient(top, #cfcfcf, #f9f9f9);
    -moz-box-shadow: 1px 0 1px #bebebe;
    -webkit-box-shadow: 1px 0 1px #bebebe;
    box-shadow: 1px 0 1px #bebebe;
}

.iphone-toggle-buttons input[type="checkbox"] + span::after
{
    text-indent: 0;
    width: 62%;
    height: 32px;
    text-align: center;
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3912f", endColorstr="#fad5b0");
    background: -moz-linear-gradient(top, #f3912f, #fad5b0);
    background: -webkit-linear-gradient(top, #f3912f, #fad5b0);
    background: -o-linear-gradient(top, #f3912f, #fad5b0);
    background: -ms-linear-gradient(top, #f3912f, #fad5b0);
    background: linear-gradient(top, #f3912f, #fad5b0);
    color: #fff;
    text-shadow: -1px -1px #0d2046;
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span::before
{
    left: auto;
    -moz-box-shadow: -2px 0 1px #3a5e91;
    -webkit-box-shadow: -2px 0 1px #3a5e91;
    box-shadow: -2px 0 1px #3a5e91;
}

.iphone-toggle-buttons input[type="checkbox"]:checked + span::after
{
    border-top: solid 1px #0f2a4f;
    border-bottom: solid 1px #0f2a4f;
    border-left: solid 1px #2c5496;
    height: 30px;
    top: -1px;
    left: -1px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.browser-support li.ie6,
.browser-support li.ie7,
.browser-support li.ie8
{
    display: none;
}
