#fruittree  { 
              position:absolute;
              width:100%;
              height:100%;
              z-index:1;
              top:0;
              left:0;
              }

img.bare-tree { 
                position:absolute;
                z-index:0;
                top:0;
                left:0;
 }

#fruittree .fruit { 
                    width:83px;
                    height:65px;
                    position:absolute;
                    display:block;
                    z-index:50;
 }

#fruittree .fruit input { 
                          position:absolute;
                          z-index:20;
                          font-size:9px;
                          left:13px;
                          top:22px;
                          width:52px;
 }

#fruittree .ripe {
                   position:absolute;
                   display:block;
                   z-index:5;
                   width:100%;
                   height:100%;
                   }
#fruittree .circle { 
                   position:absolute;
                   display:block;
                   z-index:10;
                   width:100%;
                   height:100%;
                   }


#fruittree .leftup .ripe.turned-on { 
                     background-image:url(../images/ripe_fruit_rtlean.png);
 }
#fruittree .rightup .ripe.turned-on { 
                     background-image:url(../images/ripe_fruit_leftlean.png);
 }

#fruittree .leftup .circle.turned-on { 
                     background-image:url(../images/purple_circle_rtlean.png);
 }
#fruittree .rightup .circle.turned-on { 
                     background-image:url(../images/purple_circle_leftlean.png);
 }

table {
	border-collapse: collapse;

}


#controls { 
            position:absolute;
            z-index:50;
            bottom: 25px;
            left: 15px;
   


 }
 
 #controls td,  #controls th{ 

            border: 1px solid #999;
            background-color: #eee;
       

 }
 
 #controls th {padding: 2px 4px 2px 4px;}
 
 #controls tr td.component {
 
 	text-align: left;
 	padding-left: 4px;
 	padding: right: 4px;
 	background-color: #dedede;
 }

/*left ups*/
#top1-fruit {left:133px;top:3px;}
#middle2-fruit {left:177px;top:86px;}
#middle4-fruit {left:402px;top:107px;}
#bottom3-fruit {left:382px;top:199px;}
/*right ups*/
#top2-fruit {left:262px;top:2px;}
#top3-fruit {left:363px;top:37px;}
#middle1-fruit {left:62px;top:75px;}
#middle3-fruit {left:288px;top:105px;}
#bottom1-fruit {left:70px;top:176px;}
#bottom2-fruit {left:203px;top:188px;}

#toggle-support-selection.toggle-button {
    left: 400px;
    top: 360px;
    background-image: none;
}

#toggle-disclosure-selection.toggle-button {
    left: 20px;
    top: 360px;
    background-image: none;
}

.toggle-button {
    width: 125px;
    height: 75px;
    font-size: 13px;
    color: black;
    display: block;
    text-decoration: none;
    padding: 9px 0 0px 0;
    text-transform: uppercase;
    position: absolute;
    display: block;
    z-index: 10;
    
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border:1px solid rgba(250, 255, 228, 0.2);
}


.toggle-button:hover {
    box-shadow: 0 0 14px rgba(250, 255, 228, 1);
    -webkit-box-shadow: 0 0 14px rgba(250, 255, 228, 1); 
    -moz-box-shadow: 0 0 14px rgba(250, 255, 228, 1);
    border:1px solid rgba(250, 255, 228, 0.8); 
}

.toggle-button.on {
    text-align: center;
    box-shadow: 0 0 14px rgba(250, 255, 228, 1);
    -webkit-box-shadow: 0 0 14px rgba(250, 255, 228, 1); 
    -moz-box-shadow: 0 0 14px rgba(250, 255, 228, 1);
    border:1px solid rgba(250, 255, 228, 0.8); 
    
}

@media print { 
  #controls { display:none; }
 }