{% extends "intervention/game.html" %}

{% block game_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/gamestate.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lifegoal_task/js/goals.js"></script> 
{% endblock %}

{% block game_css %}
  <link href="{{STATIC_URL}}lifegoal_task/css/lifegoal.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block game_content %}


   <div id="lifegoalsbox">
   
     <form id="lifegoals">
     
   		<img src="{{STATIC_URL}}lifegoal_task/images/background-island.jpg" id="printable" />
   		
		<div class="step" id="step2"><input type="text" name="step2" /></label></div>
		
		<div class="step" id="step3"><input type="text" name="step3" /></label></div>
		
		<div class="step" id="step4"><input type="text" name="step4" /></label></div>
		
		<div class="step" id="goal"><input type="text" name="goal" /></label></div>
       
     </form>
     
   </div>
   
   {% if game.activity.clientsession.defaulter %}
       <div id="defaulter" style="display: none">True</div>
   {% endif %}
   
   
{% endblock %}
