{% extends "intervention/game.html" %}

{% block game_js %}
          <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
          <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script> 
          <script type="text/javascript" src="/site_media/island_game/js/slider.js"></script> 
          <script type="text/javascript" src="/site_media/island_game/js/island_one.js"></script> 
		<style type="text/css">
			@media print 
			{ 
			#game-content  { position: relative; top:20px; left: 100px; border: 1px red;}
			}
		</style>
{% endblock %}

<div id="game_content">

	{% block game_content %}
   
	<div style="position:relative;height:465px;width:100%;">
	
		<!-- SKY -->
		
		<!-- Move the sky, everything else in the picture moves along with it, as it's defined as the "background" of the sliders on this page. -->
		
		<img src="/site_media/island_game/images/backround_part1.jpg" id="sky" />
        
		<p style="font-size: 10px;left:50px; top:-5px;position:absolute;z-index:1;color:#444">
			oi
		</p>
		
		<p style="font-size: 10px;left:78px; top:-5px;position:absolute;z-index:1;color:#444444">
			viral load
		</p>
		
		<p style="font-size: 10px;left:440px; top:-5px;position:absolute;z-index:1;color:#444">
			cd4
		</p>
		
		<p style="left:190px; top:400px;position:absolute;z-index:40;color:#fff">
			BEFORE GOING ON ARVS
		</p>
          
		<div id="media-base" data-image-base="/site_media/island_game/"></div>
		
		<!-- ISLAND -->
		<span
			id="island"
			class="slider"
			background_element_id="sky" 
			influence="0" 
			image_offset_x="0" image_offset_y="0"
			start_offset_x="0" start_offset_y="237"
			end_offset_x="0" end_offset_y="0"
			min_value = "0" max_value = "10" starting_value = "10"
			moving_image_path   = "/site_media/island_game/images/island_part1.png"
			draggable_by_user = "false";
		/>
		
		<img id="dude" class="slider" style = "left:200px; top:60px;position:absolute;z-index:1"/>
		
		<!-- WATER -->
		<span
			id="water"
			class="slider"
			style = "left:0px; position:absolute;"
			background_element_id="sky" 
			influence="0"
			z_index="20"
			image_offset_x="0" image_offset_y="150"
			start_offset_x="0" start_offset_y="300"
			end_offset_x="0" end_offset_y="131"
			min_value = "0" max_value = "10" starting_value = "0"
			draggable_by_user = "false";
			moving_image_path  = "/site_media/island_game/images/water.png" 
		/>
		
		<!-- THREE SLIDERS: -->
		<span
			id="bad1"
			class="slider"  
			influence="1" 
			background_element_id="sky" 
			image_offset_x="50" image_offset_y="20"
			start_offset_x="50" start_offset_y="120"
			end_offset_x="50" end_offset_y="20"
			min_value = "0" max_value = "10" starting_value = "0"
			fixed_image_path   = "/site_media/island_game/images/slider_bar.png"
			moving_image_path  = "/site_media/island_game/images/slider_handle.png"
		/>
		
		<span
			id="bad2"
			class="slider" 
			influence="1" 
			background_element_id="sky" 
			image_offset_x="100" image_offset_y="20"
			start_offset_x="100" start_offset_y="120"
			end_offset_x="100" end_offset_y="20"
			min_value = "0" max_value = "10" starting_value = "0"
			fixed_image_path   = "/site_media/island_game/images/slider_bar.png"
			moving_image_path  = "/site_media/island_game/images/slider_handle.png"
		/>
		
		<span
			id="good"
			class="slider" 
			influence="1" 
			background_element_id="sky" 
			image_offset_x="445" image_offset_y="20"
			start_offset_x="445" start_offset_y="120"
			end_offset_x="445" end_offset_y="20"
			min_value = "0" max_value = "10" starting_value = "10"
			fixed_image_path   = "/site_media/island_game/images/slider_bar.png"
			moving_image_path  = "/site_media/island_game/images/slider_handle.png"
		/>
        
	</div>

	{% endblock %}

</div>
