{% extends "intervention/game.html" %}

{% block game_js %}
  <script type="text/javascript" src="/site_media/assessmentquiz_task/js/quiz.js"></script> 
{% endblock %}
{% block game_css %}
  <link href="/site_media/assessmentquiz_task/css/assessmentquiz_task.css" rel="stylesheet" type="text/css" />
  <link href="/site_media/assessmentquiz_task/css/assessmentquiz_task.print.css" rel="stylesheet" type="text/css" media="print"  />
{% endblock %}

{% block game_content %}
<a name="score"></a>
<div id="interpretation" style="display: none">

	<h5>
		Interpretation of Total Score
	</h5>
	
	<ul id="interpretation_range" class="mood">
	
		<li id="r10">
		
		<!--10-19:-->There is no significant distress. 
		
		</li>
		
		<li id="r20">
		
		<!--20-24:-->There is mild distress consistent with mild depression and/or anxiety. 
		
		<div class="script">
		
			It seems like you are experiencing some stress. Sometimes talking with someone can help. Actually, there are people trained to talk to you and help you with your problems. If you haven't already done so, would you be interested in talking with someone? 
			
			<ul>

				<li> 
				<h2 class="yes">If yes,</h2>
				Yes, good. I will give you information to talk with someone at the end of our Masivukeni session today. 
				</li>
				
				<li>
				<h2 class="no">If no,</h2>
				Are you completely certain? Talking can really help sometimes.
				</li>
				
				<li> 
				<h2 class="no">If no,</h2>
				Okay then. Let's continue with our Masivukeni session.
				</li>
				
			</ul>
			
		</div>
		
		</li>
		
		<li id="r25">
		
		<!--25-29:-->There is moderate distress consistent with moderate depression and/or anxiety. 
		
		<div class="script">
		
			It seems like you are experiencing a lot of stress. Talking with someone could help. Do you know there are people specifically trained to talk to you and help you with your problems? If you haven't already done so, talking with someone could help you? Are you interested? 
		
			<ul>
			
				<li> 
				<h2 class="yes">If yes,</h2>
				Yes, good. I will give you information to talk with someone at the end of our Masivukeni session today. 
				</li>
				
				<li> 
				<h2 class="no">If no,</h2>
				Are you completely certain? Talking can really help sometimes. 
				</li>
				
				<li> 
				<h2 class="no">If no,</h2>
				Okay then. Let's continue with our Masivukeni session.
				</li>

			</ul>
			
		</div>
		</li>
		
		<li id="r30">		
		<!--30-50:-->There is severe distress consistent with severe depression and/or anxiety. 
		<div class="script">
			It seems like you're really under a lot of stress and having some difficulties. At the end of our Masivukeni session today, I'm going to give you information for you to talk with someone trained to help you with your problems. You don't have to talk to anyone, but I really encourage you because it could help you feel better. 
		</div>
		</li>
		
	</ul>
	
</div>

     
     
   <div id="quiz">  

     <p>
       During the past month, that is, from <span id="monthago">last month</span> to yesterday, about how often did you feel:
     </p>
     
   
   
<form id="assessmentquiz">
<input type="hidden" name="section" value="kten" />

<table cellspacing="0">

<thead>

<th colspan="2"></th>
<th>None of the time</th>
<th>A little of the time</th>
<th>Some of the time</th>
<th>Most of the time</th>
<th>All of the time</th>
</thead>

<tbody>

<tr>
<td>1.</td>
<td>Tired out for no good reason?</td>
<td><input name="q1" type="radio" value="1" /><!--1--></td>
<td><input name="q1" type="radio" value="2" /><!--2--></td>
<td><input name="q1" type="radio" value="3" /><!--3--></td>
<td><input name="q1" type="radio" value="4" /><!--4--></td>
<td><input name="q1" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>2.</td>
<td>Nervous?</td>
<td><input name="q2" type="radio" value="1" /><!--1--></td>
<td><input name="q2" type="radio" value="2" /><!--2--></td>
<td><input name="q2" type="radio" value="3" /><!--3--></td>
<td><input name="q2" type="radio" value="4" /><!--4--></td>
<td><input name="q2" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>3.</td>
<td>So nervous that nothing could calm you down?</td>
<td><input name="q3" type="radio" value="1" /><!--1--></td>
<td><input name="q3" type="radio" value="2" /><!--2--></td>
<td><input name="q3" type="radio" value="3" /><!--3--></td>
<td><input name="q3" type="radio" value="4" /><!--4--></td>
<td><input name="q3" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>4.</td>
<td>Hopeless?</td>
<td><input name="q4" type="radio" value="1" /><!--1--></td>
<td><input name="q4" type="radio" value="2" /><!--2--></td>
<td><input name="q4" type="radio" value="3" /><!--3--></td>
<td><input name="q4" type="radio" value="4" /><!--4--></td>
<td><input name="q4" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>5.</td>
<td>Restless or fidgety?</td>
<td><input name="q5" type="radio" value="1" /><!--1--></td>
<td><input name="q5" type="radio" value="2" /><!--2--></td>
<td><input name="q5" type="radio" value="3" /><!--3--></td>
<td><input name="q5" type="radio" value="4" /><!--4--></td>
<td><input name="q5" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>6.</td>
<td>So restless you could not sit still?</td>
<td><input name="q6" type="radio" value="1" /><!--1--></td>
<td><input name="q6" type="radio" value="2" /><!--2--></td>
<td><input name="q6" type="radio" value="3" /><!--3--></td>
<td><input name="q6" type="radio" value="4" /><!--4--></td>
<td><input name="q6" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>7.</td>
<td>Sad or depressed?</td>
<td><input name="q7" type="radio" value="1" /><!--1--></td>
<td><input name="q7" type="radio" value="2" /><!--2--></td>
<td><input name="q7" type="radio" value="3" /><!--3--></td>
<td><input name="q7" type="radio" value="4" /><!--4--></td>
<td><input name="q7" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>8.</td>
<td>So depressed that nothing could cheer you up?</td>
<td><input name="q8" type="radio" value="1" /><!--1--></td>
<td><input name="q8" type="radio" value="2" /><!--2--></td>
<td><input name="q8" type="radio" value="3" /><!--3--></td>
<td><input name="q8" type="radio" value="4" /><!--4--></td>
<td><input name="q8" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>9.</td>
<td>That everything was an effort?</td>
<td><input name="q9" type="radio" value="1" /><!--1--></td>
<td><input name="q9" type="radio" value="2" /><!--2--></td>
<td><input name="q9" type="radio" value="3" /><!--3--></td>
<td><input name="q9" type="radio" value="4" /><!--4--></td>
<td><input name="q9" type="radio" value="5" /><!--5--></td>
</tr>

<tr>
<td>10.</td>
<td>Worthless?</td>
<td><input name="q10" type="radio" value="1" /><!--1--></td>
<td><input name="q10" type="radio" value="2" /><!--2--></td>
<td><input name="q10" type="radio" value="3" /><!--3--></td>
<td><input name="q10" type="radio" value="4" /><!--4--></td>
<td><input name="q10" type="radio" value="5" /><!--5--></td>
</tr>

</tbody>

</table>

</form>

<div align="center" style="margin: 20px 0px 20px 0px;">
    <a id="reveal_score" href="#score" class="action disabled">What is My Score?</a>
</div>

</div>
     
{% endblock %}
