{% extends "intervention/game.html" %}

{% block game_css %}
  <link href="{{STATIC_URL}}problemsolving_game/css/problemsolving.css" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}problemsolving_game/css/problemsolving.print.css" rel="stylesheet" type="text/css" media="print" />
{% endblock %}


{% block game_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/gamestate.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}problemsolving_game/js/problemsolvingview.js"></script>
    <script type="text/template" id="printable-template">
        <div class="issue-text-printable">
            <h5>Challenge</h5>
            <%= text %><br />
            <%= customtext %><br /><br />
            <h5>My Plan</h5>
            <div>How does this challenge keep me from taking my pills?</div>
            <div><%= actionPlan.attributes.barriers %></div>
            <br />
            <div>What are some ways I can overcome this challenge?</div>
            <div><%= actionPlan.attributes.proposals %></div>
            <br />
            <div>What is my plan of action?</div>
            <div><%= actionPlan.attributes.finalPlan %></div>
        </div>
        <img src="<%= image %>"></img>
        <div class="divider"/>
    </script>
{% endblock %}

{% block game_content %}

    <div id="issue-selector" class="issue-selector" align="center">
    	{% for issue in game_context.issues %}
    	   <div id="{{issue.name}}" class="issue-number" unselectable="on">{{issue.ordinality}}</div>
    	{% endfor %}
    </div>
    
    <div class="issue-gallery">
    
       <div id="previous_issue" class="issue-navigation issue-gallery-item">
    	  <span unselectable="on"></span><img style="display: none" src="{{STATIC_URL}}images/leftarrow.png"></img>
       </div>
       
       <div id="issue_details" class="issue-gallery-item">
       
    	  <div class="issue-number infocus"></div>
    	  
    	  <img class="issue-image" alt="illustration"/>
    	  
    	  <div class="issue-text-container">
    		 <div class="issue-text"></div>
    		 <div class="issue-subtext"><span></span><textarea></textarea></div>
    	  </div>
    	  
    	  <div class="personal-issue-container">
    	  
    		 <div class="personal-issue">
    			<div class="personal-issue-toggle iphone-toggle-buttons"> 
    			    <ul>
    				   <li>
    					  <label for="checkbox-personal-issue">
    						 <input type="checkbox" id="checkbox-personal-issue"><span></span>
    					  </label>
    				  </li>
    			   </ul>
    			</div>
    			<div class="personal-issue-label">Is this a personal challenge for you?</div> 
    		 </div>
    		 
    		 <div id="actionplan" style="display: none">
    			<a>Make Plan</a>
    		 </div>
    		 
    	  </div>
    	  
    	  <div id="actionplan_form" class="actionplan_form" style="display: none;">
    	  
    		 <h4>My Plan</h4>        
    		 
             <div class="question">
    		  <label for="action">How does this challenge keep me from taking my pills?</label>
    		  <textarea id="barriers" rows="3"></textarea>
             </div>
    		 
             <div class="question">
        		 <label for="proposals">What are some ways I can overcome this challenge? For example:</label>
        		 <div id="example"></div>
        		 <textarea id="proposals" rows="3"></textarea>
             </div>
    		 
    		 <div class="question">
    		 <label for="action">What is my plan of action?</label>
    		 <textarea id="finalPlan" rows="3"></textarea>
             </div>
    		 
    		 <input type="submit" value="Save Plan" style="margin-top: 10px;"></input>
    		 
    	  </div>
    	  
       </div>
       
       <div id="next_issue" class="issue-navigation issue-gallery-item">
    	  <span unselectable="on"></span><img src="{{STATIC_URL}}images/rightarrow.png"></img>
       </div>
       
    </div>
    
    <div style="clear: both"></div>
    
    <div id="issue-gallery-printable">
        <h4>My Personal Challenges</h4>
        {% for issue in game_context.issues %}
            <div class="{{issue.name}} issue-detail-printable">
            </div>
        {% endfor %}
    </div>
    
    <div id="issue-list">
       {% for issue in game_context.issues %}
    	  <div class="issue">
    		 <div class="name">{{issue.name}}</div>
    		 <div class="text">{{issue.text}}</div>
    		 <div class="subtext">{% if issue.subtext %}{{issue.subtext|safe}}{% endif %}</div>
    		 <div class="example">{% if issue.example %}{{issue.example|safe}}{% endif %}</div>
    		 <div class="image">{{STATIC_URL}}problemsolving_game/images/issues/barrier_{{issue.name}}.jpg</div>
    		 <div class="ordinality">{{issue.ordinality}}</div>
    	  </div>
       {% endfor %}
    </div>

    {% if game.activity.clientsession.defaulter %}
        <div id="defaulter" style="display: none">True</div>
    {% endif %}

{% endblock %}
