{% extends "base.html" %} 

{% block title %}Credits{% endblock %} 

{% block content %}

{{ block.super }} 

<h2>
	Credits 
</h2>

	<h3>
		Faculty Partners: HIV Center for Clinical and Behavioral Studies
	</h3>
	
	<p>
		Dr. Robert Remien
	</p>
	<p>
		<b> Research Project Manager</b><br />
		Jenifar Chowdhury 
	</p>
	<h3>
		CCNMTL Production Team
	</h3>
	<p>
		<b> Executive Directors</b><br />
		Frank Moretti<br />
		Maurice Matiz 
	</p>
	<p>
		<b> Project Manager</b><br />
		Jessica Rowe 
	</p>
	<p>
		<b> Video Production</b><br />
		Stephanie Ogden<br />
		Gerard Zoehfeld 
	</p>
	<p>
		<b> Design</b><br />
		Elizabeth Day<br />
		Marc Raymond 
	</p>
	<p>
		<b> Programming</b><br />
		Schuyler Duveen<br />
		Eddie Rubeiz 
	</p>
	{% endblock %}