#gamebox {
	height: 475px; /*set the box to the game's height*/
}

#fruittree
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
}

img.bare-tree
{
	position: absolute;
	z-index: 0;
	top: 2px;
	left: 0;
	background-color: #fff; /*give the game a white background*/
	width: 638px;
	height: 475;
}

#fruittree .fruit
{
	width: 83px;
	height: 65px;
	position: absolute;
	display: block;
	z-index: 50;
}

#fruittree .fruit input
{
	position: absolute;
	z-index: 20;
	font-size: 9px;
	left: 14px;
	top: 23px;
	width: 50px;
}

#fruittree .ripe
{
	position: absolute;
	display: block;
	z-index: 5;
	width: 100%;
	height: 100%;
	-webkit-print-color-adjust:exact;
}

#fruittree .circle
{
	position: absolute;
	display: block;
	z-index: 10;
	width: 100%;
	height: 100%;
	-webkit-print-color-adjust:exact;
}

#fruittree .leftup .ripe.turned-on { background-image: url(../images/ripe_fruit_rtlean.png); }
#fruittree .rightup .ripe.turned-on { background-image: url(../images/ripe_fruit_leftlean.png); }
#fruittree .leftup .circle.turned-on { background-image: url(../images/purple_circle_rtlean.png); }
#fruittree .rightup .circle.turned-on { background-image: url(../images/purple_circle_leftlean.png); }
table { border-collapse: collapse; }

#controls
{
	position: absolute;
	z-index: 50;
	bottom: 25px;
	left: 15px;
}

#controls td,  #controls th
{
	border: 1px solid #999;
	background-color: #eee;
}

#controls th { padding: 2px 4px 2px 4px; }

#controls tr td.component
{
	text-align: left;
	padding-left: 4px;
	padding: right: 4px;
	background-color: #dedede;
}

/*left ups*/
/* +46 +3 */
#top1-fruit
{
	left: 179px;
	top: 6px;
}

#middle2-fruit
{
	left: 223px;
	top: 88px;
}

#middle4-fruit
{
	left: 447px;
	top: 109px;
}

#bottom3-fruit
{
	left: 427px;
	top: 200px;
}

/*right ups*/
#top2-fruit
{
	left: 308px;
	top: 4px;
}

#top3-fruit
{
	left: 409px;
	top: 39px;
}

#middle1-fruit
{
	left: 109px;
	top: 76px;
}

#middle3-fruit
{
	left: 334px;
	top: 106px;
}

#bottom1-fruit
{
	left: 117px;
	top: 177px;
}

#bottom2-fruit
{
	left: 249px;
	top: 189px;
}

#toggle-disclosure-selection
{
	left: 20px;
	bottom: 10px;
	background-color: #f6dc85;
	color: #6e2305;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f6dc85'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#f6dc85)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eeeeee,  #f6dc85); /* for firefox 3.6+ */ 	
}

#toggle-support-selection
{
	right: -70px;
	bottom: 10px;
 	background-color: #9e005d;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#9e005d'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#9e005d)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eeeeee,  #9e005d); /* for firefox 3.6+ */ 	
}

.toggle-button
{
	text-align: center;
	width: 220px;
	height: 30px;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	padding: 9px 0 0px 0;
	position: absolute;
	display: block;
	z-index: 10;
	outline: none;
}

.on
{
	border: 5px solid orange; 
	font-weight: bold;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}

.on:before
{
	content:'Adding: ';
}

.fruit-key {
    display: none;
}
