<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <title>Masivukeni: {% block title %}{% endblock %}</title>
  
  <link href="/site_media/css/masivukeni.css" rel="stylesheet" type="text/css" />
  
  {% block css %}{% endblock %}
  {% block js %}{% endblock %}
  {% block feeds %}{% endblock %}
  
</head>

<body class="{% if user.is_authenticated %}logged-in {% endif %}{% block bodyclass %}{% endblock %}">

<a id="pagestart"></a>

  <div id="container">

	<div id="header">
	
		<h1>
			<a href="/" id="masivukeni-home">Masivukeni</a> 
		</h1>
		
		<div id="nav-header">

			<ul>

			<li>
			<span id="username" {% if user.is_authenticated %} class="logged_in" {% endif %}>
			{% if user.is_authenticated %}
			Hello, <a href="/intervention/">{{user}}</a>! -
			{% endif %}
			</span> 
			{% if user.is_authenticated %}
			<a class="loginlogout loginlogout-remote" href="/logout">Logout</a>
			{% else %}
			<a href="/intervention/">Log In</a>
			{% endif %}
			</li>
			
			  <li style="color: #000;">Columbia University, New York</li>
			  
			</ul>
			
		</div>
		
	</div>

		  {% block breadcrumb-main %}{% endblock %}

		  {% block breadcrumb-session %}{% endblock %}
  	
    <div id="contentcontainer">
      {% block content %}{% endblock %}
    </div>

    <div id="footer">
		<a href="/">About</a> | 
		<a href="/credits/">Credits</a> | 
		<a href="mailto:ccnmtl-masivukeni@columbia.edu">Contact</a>
		{% block footer %}{% endblock %}
    </div>

  </div>
</body>
</html>
