<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% if disable_offline %}
<html xmlns="http://www.w3.org/1999/xhtml" 
      xml:lang="en" lang="en">
{% else %}
<html xmlns="http://www.w3.org/1999/xhtml" 
      xml:lang="en" lang="en"
      manifest="/cache.manifest?version={{manifest_version}}"
>
{% endif %}
<head>
  <title>Masivukeni: {% block title %}{% endblock %}</title>
  <link href="{{relative_root}}site_media/css/masivukeni.css" rel="stylesheet" type="text/css" />
  {% block css %}{% endblock %}
  <script type="text/javascript">MochiKit = {__export__: false};</script>
  <script type="text/javascript" src="{{relative_root}}site_media/js/mochikit/MochiKit/MochiKit.js"></script>
  <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/local_session.js"></script>
  <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/intervention_storage.js"></script>    
  <script type="text/javascript" src="{{relative_root}}site_media/js/appcache_status.js"></script>
  {% block js %}{% endblock %}
  {% block feeds %}{% endblock %}
</head>

<body class="{% if user.is_authenticated %}logged-in {% endif %}{% block bodyclass %}{% endblock %}">
<a id="pagestart"></a>
  <div id="container">

	<div id="header">
		<h1>
			<a href="{{relative_root}}home.html" id="masivukeni-home">Masivukeni</a> 
		</h1>
		<div id="nav-header">
			<ul>
			  <li><b>masivukeni2 drafting site</b></li>
			  <Li><a href="{{relative_root}}help/credits.html">Credits</a></li>
			  <li><a href="mailto:ccnmtl-masivukeni@columbia.edu">Contact</a></li>
			  {% block nav %}{% endblock %}
			</ul>
		</div>
	</div>

	<div id="breadcrumb">
		<a class="incomplete current" href="{{relative_root}}home.html" id="tab-home">Home</a> 
		<div id="breadcrumb-text">
      <ul>
	<li><span id="logged-in-prefix">Logged in as:</span>
	  <span id="username"
	    {% if user.is_authenticated %}
	        class="logged_in"
	    {% endif %}
	    >
		{% if user.is_authenticated %}
		{{user}}
		{% endif %}
	  </span> 
	  
	  {% if user.is_authenticated %}
	  <a class="loginlogout loginlogout-remote" 
	     href="{{relative_root}}logout">Logout</a>
	  {% else %}
	  <a class="loginlogout loginlogout-remote" 
	     href="{{relative_root}}accounts/login/{% ifnotequal request.path "/logout" %}?next={{request.path}}{% endifnotequal %}">Administrative Login</a>&nbsp;
	  <a class="loginlogout loginlogout-local" 
	     href="{{relative_root}}client_login.html"
	     onclick="Intervention.logout()"
	     >Logout</a>
	  {% endif %}
	</li>
	{% block breadcrumbs %}{% endblock %}
      </ul>
			
			
		</div>
	</div>

  
    <!--BEGIN MAIN AREA-->
    <div id="contentcontainer">
      {% block content %}{% endblock %}

    </div>

    <!--BEGIN FOOTER-->  
    <div id="footer">
		<p>
		  <span id="cache-status-footer">cache status</span>
			Footer <a href="index.html">info</a> 
    {% block footer %}{% endblock %}
		</p>
    </div>

  </div>
</body>
</html>
