<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Masivukeni: {% block title %}{% endblock %}</title>
  <link href="{{relative_root}}site_media/css/masivukeni.css" rel="stylesheet" type="text/css" />
  {% block css %}{% endblock %}
  <script type="text/javascript" src="{{relative_root}}site_media/js/mochikit/MochiKit/MochiKit.js"></script>
  <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/local_session.js"></script>
  <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/intervention_storage.js"></script>    
  {% block js %}{% endblock %}
  {% block feeds %}{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
  <div id="container-main">
    <div id="masthead">
      <div id="logo"><a href="{{relative_root}}home"><img src="{{relative_root}}site_media/images/logo_small.png" alt="Masivukeni Logo" /></a></div>	
      
      <div id="topnav">
	<ul>
	  <!-- commenting out until we actually have content for these
	  <li><a href="{{relative_root}}about">About</a></li>
	  <li><a href="{{relative_root}}help">Help</a></li>
	  <li><a href="{{relative_root}}contact">Contact</a></li>
	  -->
	  {% block nav %}{% endblock %}
	</ul> 	
      </div>
    </div>
  
    <div id="navbar">
      <ul>
	<li><span id="logged-in-prefix">Logged in as </span>
	  <span id="username"
	    {% if user.is_authenticated %}
	        class="logged_in"
	    {% endif %}
		>
		{% if user.is_authenticated %}
		{{user}}
		{% endif %}
	  </span> 
	  |
	  {% if user.is_authenticated %}
	  <a class="loginlogout loginlogout-remote" 
	     href="{{relative_root}}logout">Logout</a>
	  {% else %}
	  <a class="loginlogout loginlogout-remote" 
	     href="{{relative_root}}accounts/login/{% ifnotequal request.path "/logout" %}?next={{request.path}}{% endifnotequal %}">Login</a>
	  <a class="loginlogout loginlogout-local" 
	     href="{{relative_root}}client_login"
	     onclick="Intervention.logout()"
	     >Logout</a>
	  {% endif %}
	</li>
	{% block breadcrumbs %}{% endblock %}
      </ul>
    </div>

    <!--BEGIN MAIN AREA-->
    <div id="container-content">
      {% block content %}{% endblock %}
    </div>

    <!--BEGIN FOOTER-->  
    {% block footer %}{% endblock %}
  </div>
</body>
</html>
