{% extends "base.html" %}
{% block js %}
   <script>
     var game_variables = {{activity.variables|safe}};
   </script>
{% endblock %}
{% block breadcrumbs %}
    {%if activity %}
      <li><a href="/intervention/{{activity.clientsession.intervention.id}}/">Session List</a></li>
    {%endif%}  
{% endblock %}

{% block content %}
    {{ block.super }}
		<div id="side">
			<h2 id="sessioninfo" class="incomplete">
				<a href="/session/{{activity.clientsession.id}}/">Session {{activity.clientsession.index}}: {{activity.clientsession.long_title}}</a>
			</h2>
			<div id="nav-side">
				<ul>
{% for a in activity.clientsession.activity_set.all %}
<li><a class="incomplete
{% if forloop.first %}first{% endif %}
{% if forloop.last %}last{% endif %}
{% ifequal a.id activity.id %}current{% endifequal %}
" href="/activity/{{a.id }}/">{{a.long_title}}</a>
{% if a.game %}<span class="task">+Task</span>{% endif %}
</li>
{% endfor %}

				</ul>
			</div>

		</div>
		<div id="content">

    {% if activity %}
    <form action="complete/" method="post">

    <div id="session{{activity.clientsession.id}}" class="parentsession"></div>


      <h3 id="activity{{activity.id}}" class="activitytitle">Activity {{activity.index}}: {{ activity.long_title }}</h3>

			<div class="nav-lateral" id="top-nav-lateral">
			  {% with activity.next as next_activity %}
			     {% if next_activity %}
				<a href="/activity/{{next_activity.id }}/">Next &rarr;</a> 
                             {% else %}
				Next &rarr;
                             {% endif %}
			  {% endwith %}
			  {% with activity.prev as prev_activity %}
				{% if prev_activity %}
				<a href="/activity/{{prev_activity.id }}/">&larr; Previous</a> 
				{% else %}
				&larr; Previous
				{% endif %}
			  {% endwith %}
			</div>

         {%if activity.game %}
	<h4 class="flag">This activity has a client task</h4>
	{% if activity.pages %}
	  <p>
	    {% if not test %}
	      <a id="tasklink" class="hilite" href="{% url smart_sa.intervention.views.game activity.game,activity.gamepage_set.all.0.id,activity.pages.0 %}">START</a>
	      <ul id="all-task-pages">
		{%for taskpage in activity.gamepage_set.all %}
		<li><a id="taskpage-{{taskpage.page_name}}" 
		       href="{% url smart_sa.intervention.views.game activity.game,taskpage.id,taskpage.page_name %}">
		  {{taskpage.page_name}}
		</a></li>
		{%endfor%}
	      </ul>
	    {%else%}
	      <a id="tasklink" class="hilite" href="{% url smart_sa.intervention.views.game activity.game,activity.pages.0 %}">START</a>
	      <ul id="all-task-pages">
		{%for taskpage in activity.pages %}
		<li><a id="taskpage-{{taskpage}}" 
		       href="{% url smart_sa.intervention.views.game activity.game,taskpage %}">
		  {{taskpage}}
		</a></li>
		{%endfor%}
	      </ul>
	    {%endif%}	    
	  </p>

	{%endif%}
      {%endif%}
      <script>
	if (typeof(Intervention) != 'undefined') {
	      Intervention.init_activity();
	}
      </script>
    {% else %}
      <p>No activity defined.</p>
    {% endif %}

	
    <div id="messaging">
       Your wish is my command
    </div>	
     
     

 
          
     <h4>Objective(s)</h4>
        <div class="objective">
	  {{activity.objective_copy|safe}}
	</div>
	<h4>Procedure</h4>
	{% if not test and activity.instruction_set.count %}
 
	 {% for instruction in activity.instruction_set.all %}
           <ul>
	     <li>
	       {%if instruction.title %}
	         <h5>{{instruction.title}}</h5> 
	       {%endif%}

	       {%if instruction.image %}
	         <img src="{{instruction.image.url}}" />
		 <br />
	       {%endif%}

	    <!--   {%if instruction.style %}
	         <span class="instruction_style">{{instruction.style}}:</span> 
	       {%endif%}-->
		 
	      <div class="{{instruction.style}}"> {{ instruction.instruction_text|safe }}</div>
	     </li>
	   </ul>
	 {% endfor %}
	{% else  %}
	  <p>No content instructions defined for this activity.</p>
	{% endif %}
	{% if not activity.game %}
	 <!-- if we have a game, the complete button is on the last game page-->
      <br />  <hr />

      {% if activity.collect_notes %}
      <h4>Counselor Notes</h4>
      <textarea name="counselor_notes" rows="5" cols="70"
		id="counselor-notes" >{{counselor_notes}}</textarea>
      {% endif %}


         <p>
	     <input type="submit" value="Complete Activity" />
	   <br style="clear: both;" /> 
	 </p>
    </form>
	
	{% endif %}
 
			<div class="nav-lateral" id="bottom-nav-lateral">
			  <a id="top" href="#pagestart">&uarr; Back to Top</a>
			  {% with activity.next as next_activity %}
			     {% if next_activity %}
				<a href="/activity/{{next_activity.id }}/">Next &rarr;</a> 
                             {% else %}
				Next &rarr;
                             {% endif %}
			  {% endwith %}
			  {% with activity.prev as prev_activity %}
				{% if prev_activity %}
				<a href="/activity/{{prev_activity.id }}/">&larr; Previous</a> 
				{% else %}
				&larr; Previous
				{% endif %}
			  {% endwith %}
			</div>

</div>  

{% endblock %}
