{% extends "base.html" %}

{% block title %}Credits{% endblock %}

   
{% block content %}
    {{ block.super }}
    
     <h1>  Credits </h1>
    
    
     
 <div id="content-singlecolumn">

 
<h2>Faculty Partners: HIV Center for Clinical and Behavioral Studies</h2>

 <p>   Dr. Robert Remien</p>

   <p><b> Research Project Manager</b><br />
    Jenifar Chowdhury 
</p>
 <h2>   CCNMTL Production Team</h2>

 <p>  <b> Executive Directors</b><br />
    Frank Moretti<br />
    Maurice Matiz
</p>
   <p><b> Project Manager</b><br />
    Jessica Rowe
</p>
  <p> <b> Video Production</b><br />
    Stephanie Ogden<br />
    Gerard Zoehfeld
</p>
<p>  <b>  Design</b><br />
    Elizabeth Day<br />
    Marc Raymond
</p>
  <p> <b> Programming</b><br />
    Schuyler Duveen<br />
    Eddie Rubeiz 

</p>
  
   
{% endblock %}