{% extends "intervention/offlineable_base.html" %}
{% block js %}
   <script>
     var game_variables = {{activity.variables|safe}};
   </script>
{% endblock %}
{% block breadcrumbs %}
    {%if activity %}
      <li><a href="intervention{{activity.clientsession.intervention.id}}_intro.html">Session List</a></li>
    <!--  <li><a href="session{{activity.clientsession.id}}_agenda"
	     id="session{{activity.clientsession.id}}"
	     >
	Session {{ activity.clientsession.index }} Agenda
      </a></li>-->
    {%endif%}  
{% endblock %}

{% block content %}
    {{ block.super }}
		<div id="side">
			<h2 id="sessioninfo" class="incomplete">
				Session 1: Getting Started 
			</h2>
			<div id="nav-side">
				<ul>
					<li><a class="complete first" href="index.html">One</a></li>
					<li><a class="incomplete current" href="index.html">Two</a><span class="task">+Task</span></li>
					<li><a class="activity current" href="index.html">Task: Island Game</a></li>
					<li><a class="incomplete" href="index.html">Three</a></li>
					<li><a class="incomplete" href="index.html">Four</a></li>
					<li><a class="incomplete" href="index.html">Five</a><span class="task">+Task</span></li>
					<li><a class="incomplete" href="index.html">Six</a></li>
					<li><a class="incomplete" href="index.html">Seven</a><span class="task">+Task</span></li>
					<li><a class="incomplete" href="index.html">Eight</a></li>
					<li><a class="incomplete" href="index.html">Nine</a><span class="task">+Task</span></li>
					<li><a class="incomplete last" href="index.html">Ten</a><span class="task">+Task</span></li>
				</ul>
			</div>

		</div>
		<div id="content">
          {% if perms.intervention.add_clientsession %}
        <div>
	  <a class="admin_link" href="/intervention_admin/activity/{{activity.id}}/">Edit Procedure</a>
	  <a class="admin_link" href="/intervention_admin/session/{{activity.clientsession.id}}/#activity{{activity.id}}">Edit Activity Title/Overview</a>
	</div>
      {% endif %}

    {% if activity %}
    <div id="session{{activity.clientsession.id}}" class="parentsession"></div>


      <h3 id="activity{{activity.id}}" class="activitytitle">Activity {{activity.index}}: {{ activity.long_title }}</h3>

			<div class="nav-lateral" id="top-nav-lateral">
				<a href="index.html">Next &rarr;</a> <a href="index.html">&larr; Previous</a> 
			</div>

         {%if activity.game %}
	<h4 class="flag">This activity has a client task</h4>
	{% if activity.pages %}
	  <p>
	    {% if not test %}
	      <a id="tasklink" class="hilite" href="{{relative_root}}.{% url intervention.views.game activity.game,activity.gamepage_set.all.0.id,activity.pages.0 %}">START</a>
	      <ul id="all-task-pages">
		{%for taskpage in activity.gamepage_set.all %}
		<li><a id="taskpage-{{taskpage.page_name}}" 
		       href="{{relative_root}}.{% url intervention.views.game activity.game,taskpage.id,taskpage.page_name %}">
		  {{taskpage.page_name}}
		</a></li>
		{%endfor%}
	      </ul>
	    {%else%}
	      <a id="tasklink" class="hilite" href="{{relative_root}}.{% url intervention.views.game activity.game,activity.pages.0 %}">START</a>
	      <ul id="all-task-pages">
		{%for taskpage in activity.pages %}
		<li><a id="taskpage-{{taskpage}}" 
		       href="{{relative_root}}.{% url intervention.views.game activity.game,taskpage %}">
		  {{taskpage}}
		</a></li>
		{%endfor%}
	      </ul>
	    {%endif%}	    
	  </p>

	{%endif%}
      {%endif%}
      <script>
	if (typeof(Intervention) != 'undefined') {
	      Intervention.init_activity();
	}
      </script>
    {% else %}
      <p>No activity defined.</p>
    {% endif %}

	
    <div id="messaging">
       Your wish is my command
    </div>	
     
     

 
          
     <h4>Objective(s)</h4>
        <div class="objective">
	  {{activity.objective_copy|safe}}
	</div>
	<h4>Procedure</h4>
	{% if not test and activity.instruction_set.count %}
 
	 {% for instruction in activity.instruction_set.all %}
           <ul>
	     <li>
	       {%if instruction.title %}
	         <h5>{{instruction.title}}</h5> 
	       {%endif%}

	       {%if instruction.image %}
	         <img src="{{instruction.image.url}}" />
		 <br />
	       {%endif%}

	    <!--   {%if instruction.style %}
	         <span class="instruction_style">{{instruction.style}}:</span> 
	       {%endif%}-->
		 
	      <div class="{{instruction.style}}"> {{ instruction.instruction_text|safe }}</div>
	     </li>
	   </ul>
	 {% endfor %}
	{% else  %}
	  <p>No content instructions defined for this activity.</p>
	{% endif %}
	{% if not activity.game %}
	 <!-- if we have a game, the complete button is on the last game page-->
      <br />  <hr />

      {% if activity.collect_notes %}
      <h4>Counselor Notes</h4>
      <textarea name="counselor_notes" rows="5" cols="70" id="counselor-notes"
		onchange="Intervention.saveCounselorNotes(this.value)"
		></textarea>
      <script>Intervention.init_notes()</script>
      {% endif %}


         <p>
	   <a id="complete" class="hilite_right" 
	      href="session{{activity.clientsession.id}}_agenda.html"
	      onclick="Intervention.complete_activity()"
	      >
	     Complete Activity
	   </a><br style="clear: both;" /> 
	 </p>
	
	{% endif %}
 
			<div class="nav-lateral" id="bottom-nav-lateral">
				<a id="top" href="#pagestart">&uarr; Back to Top</a> <a href="index.html">Next &rarr;</a> <a href="index.html">&larr; Previous</a> 
			</div>

</div>  

{% endblock %}
