<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      {#manifest="/site_media/cache-manifest.txt"#}
      >
<head>
  <title>Masivukeni</title>
  <link href="{{relative_root}}site_media/css/masivukeni.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{relative_root}}site_media/js/mochikit/MochiKit/MochiKit.js"></script>
  <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/local_session.js"></script>    
  <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/intervention_storage.js"></script>    
    
</head>
<body onload="Intervention.login_confirm()">
  <a id="pagestart"></a> 
  <div id="container">
    <div id="header">
      <h1>
	<a href="#">Masivukeni</a> 
      </h1>
      <div id="nav-header">
	<ul>
	  <li><a href="helen.html">Hello, Helen!</a></li>
	  <li><a id="login" class="off" href="client_login.html" onclick="Intervention.logout()">Log Out</a></li>
	  <li>(Location: Khayelitsha)</li>
	</ul>
      </div>
    </div>

    <div id="breadcrumb-main">
      <a href="">Home</a>
    </div>
    <div id="contentcontainer">
      <h3>
	Hello, <span id="user_fullname">Participant</span>!
      </h3>
      
      <span id="user_firstname">The client</span> 
      <span id="user_has_completed">
	has completed 
	<span id="user_sessions_completed">1</span> 
	session<span id="user_sessions_plural">s</span>
      </span>



		<div align="center">
		<form action="login.html">
		
		<table id="choices">
		
		<col id="buttons" />
		<col id="text" />
		
		<tr>
		<td>
		<input type="submit"  value="Counsel" />
	    <a id="login" class="hilite" href="intervention1_intro.html">
	      Continue
	    </a>

		</td>
		<td>
		Counselors and administrators can counsel participants.
		</td>
		</tr>
		
		<tr>
		<td>
		<input type="submit" value="Practice" disabled="disabled" />
		</td>
		<td class="disabled">
		Counselors and administrators can practice their counselling skills.
		</td>
		</tr>
		
		<tr>
		<td>
		<input type="submit" value="Administrate" disabled="disabled" />
		</td>
		<td class="disabled">
		Counselors and administrators can manage participant information.
		</td>
		</tr>
		
		<tr>
		<td>
		<input type="submit" value="Upload" disabled="disabled" />
		</td>
		<td class="disabled">
		Administrators can send data.
		</td>
		</tr>
		
		<tr>
		<td>
		<input type="submit" value="Report" disabled="disabled" />
		</td>
		<td class="disabled">
		Administrators can create reports.
		</td>
		</tr>
		
		</table>
		</form>
		</div>
	</div>


	<div id="footer">
		<!--<p>
			Footer <a href="subpage.html">info</a> 
		</p>-->
	</div>
</div>

</body>
</html>
