<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
     {# manifest="/site_media/cache-manifest.txt" #}
      >
<head>
	<title>Masivukeni</title>
    <link href="{{relative_root}}site_media/css/masivukeni.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{relative_root}}site_media/js/mochikit/MochiKit/MochiKit.js"></script>
    <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/local_session.js"></script>    
    <script type="text/javascript" src="{{relative_root}}site_media/js/static_auth/intervention_storage.js"></script>    
</head>
<body>

<a id="pagestart"></a> 
<div id="container">
	<div id="header">
		<h1>
			<a href="#">Masivukeni</a> 
		</h1>
		<div id="nav-header">
			<ul>
				<li><a href="#">Log In</a></li>
				<li>(Location: Khayelitsha)</li>
			</ul>
		</div>
	</div>
	<!--
	<div id="breadcrumb">
		<a class="incomplete" href="#" id="tab-home" style="border-top: 1px solid #fff; border-right: 1px solid #fff; border-bottom: 1px solid #ccc; border-left: 1px solid #fff; background-color: #fff; color: #fff; background-image: none;">Session Navigator</a> 
		<div id="breadcrumb-text">
			
			
		</div>
	</div>
	-->
	<div id="contentcontainer">
	<h3>
	  Log In
	</h3>
	<p>
	  Welcome to Masivukeni! 
	</p>
	<p>
	  Please provide an ID and password.
	</p>
	
	<div align="center">
	  <form id="form_for_login" method="get" action="javascript:Intervention.login()">
	    <label>ID </label><input type="text" name="firstname" value=""/>
	    <br />
	    <label>Password </label><input type="text" name="patientnumber" value="" />
	    <br />
	    <input style="display:none;" type="submit" id="login" class="hilite" value="Log In" />

		<!-- A link instead of form submit, 
		     so the web crawler follows to the next page -->
		<a id="login_link" class="hilite" 
		   onclick="Intervention.login();return false;"
		   href="client_login_confirm.html">Log In</a>
		<a id="admin_link" 
		   href="masivukeni_admin_data.html"
		   style="display:none"
		   ></a>

	  </form>
	</div>


            
      </div>	
      
      <div id="messaging">
	Your wish is my command
      </div>	
    

	</div>
	<div id="footer">
		<!--<p>
			Footer <a href="subpage.html">info</a> 
		</p>-->
	</div>
</div>
</body>
</html>
