{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

   
{% block content %}
    {{ block.super }}
    
     <h1>  Welcome to Masivukeni! </h1>
    
     <div id="content-right" class="game" >
     <h2>Quick Links</h2><br/>
     <ul >
       <li>
       For more information: <br /> <a href="http://ccnmtl.columbia.edu/portfolio/medicine_and_health/masivukeni.html" target="blank"><b>Masivukeni Project Page</b></a>

       </li><br />
       <!--This is NOT just a Demo link: This is the link that users of the Intervention click on-->
       <li><a href="/client_login.html"><b>Begin Intervention</b></a><br /> (Login Required)</li>
	
       <li id="home-remote"><!--h2> For Internet Site</h2 -->
	 <ul>
	   <li><a href="/intervention_admin/save_backup">Backup and Restore client data</a></li>
	   <li><a href="/intervention_admin/1/">Administer Intervention Content</a></li>
	   <li><a href="/site_media/selenium/TestRunner.html">Run Selenium Tests</a></li>
	 </ul>
       </li>
	
       <li id="home-desktop"><!--h2>Desktop Links</h2-->
	 <ul class="no-bullets">
	   <li><a href="file://localhost/C:/Documents and Settings/Administrator/My Documents/restore.html">Go to restore.html file in "My Documents" to restore a backup</a></li>
	 </ul>
       </li>
     </ul>
     </div>
     
 <div id="home-content">

 
Masivukeni is a new adherence to HIV care and treatment intervention being piloted in South Africa. It is based on a proven dyadic-focused adherence intervention called "SMART Couples," which was developed at the HIV Center by Dr. Robert H. Remien and his colleagues. Masivukeni is a collaboration between <a href="http://ccnmtl.columbia.edu/" target="blank">CCNMTL</a>, the <a href="http://www.hivcenternyc.org/" target="blank">HIV Center</a>, and researchers at the <a href="http://www.uct.ac.za/" target="blank">University of Cape Town</a>, South Africa.
<br /><br />
The Masivukeni intervention is a computer-based system used by non-professional peer counselors to help patients improve adherence to care by enlisting support from someone in their social support network (e.g., a partner, friend, or family member), so that together they can understand the importance of taking their medication as prescribed and maintaining high levels of overall treatment adherence.
<br /><br />
The study is funded by the NIMH under a grant titled 'A Multimedia Social Support Intervention: Adherence to HIV Care in South Africa' and is in its second year.


<h2>Masivukeni Demo</h2>


<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/IrrvZcYrLrU&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/IrrvZcYrLrU&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
</div>


  
   
{% endblock %}
