<html>
<body>
  <!--NOTE: This should mirror content in /media/js/static_auth/admin.js:writeDocument() -->
  <h2>This is a Masivukeni Restore File</h2>
  <p>To complete the restoral process, click the link below and login as an administrator</p>
  <p><a href="Masivukeni/Masivukeni/client_login.html">Login as administrator</a></p>
  <h2>Data</h2>
  <div id="data">{{restoral_data}}</div>
  {%if restoral_data%}
  <script type="text/javascript">if(!location.hostname){alert("This file cannot be opened directly to work.  Close the browser, and open the Masivukeni site.  Then click the link [Go to restore.html...]")};globalStorage[location.hostname]["BACKUP_{{date_string}}"] = document.getElementById("data").innerHTML;globalStorage[location.hostname]["RESTORE"]="BACKUP_{{date_string}}";</script>
  {%endif%}
</body>
</html>