<html>
    <head>
          <script type="text/javascript" src="MochiKit/MochiKit.js"></script> 
          <script type="text/javascript" src="MochiKit/DragAndDrop.js"></script> 
          <script type="text/javascript" src="pills_2.js"></script> 
          <script type="text/javascript" src="bucket.js"></script> 
    </head>
    <body>
        <!-- Background -->
        <!-- Move the background, everything else in the picture moves along with it, as it's defined as the "background" of the sliders on this page. -->
        <img src="images/background.jpg" id="the_background" height = "500" width ="500"/>
        
        <img src="images/pillbox.png" id="pillbox" />
        
        <span class ="pill" id="pill_1"  image_path = "images/pill_1.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_2"  image_path = "images/pill_2.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_3"  image_path = "images/pill_3.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_4"  image_path = "images/pill_4.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_5"  image_path = "images/pill_5.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_6"  image_path = "images/pill_6.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_7"  image_path = "images/pill_7.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_8"  image_path = "images/pill_8.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_9"  image_path = "images/pill_9.png"  offset_image = "pillbox" />
        <span class ="pill" id="pill_10" image_path = "images/pill_10.png" offset_image = "pillbox"/>

        <span class = "pill_images_container" id="pill_images_container" ></span>

        <!-- DAY BUCKET -->
        <span
            class="bucket"
            id="day"
            background_element_id="the_background"
            image_offset_x="320" image_offset_y="20"
            margin = "10"
            image_path = "images/bucket.png"
        />
        
        <!-- NIGHT BUCKET -->         
        
        <span
            class="bucket"
            id="night"
            background_element_id="the_background" 
            margin = "10"
            image_offset_x="320" image_offset_y="280"
            image_path   = "images/bucket.png"
        />
       
    </body>
</html>
