{% extends "base.html" %}

{% block js %}
  <script type="text/javascript" src="/site_media/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript" src="/site_media/js/simple_tinymce.js"></script>
{% endblock %}

{% block editcontentnav %}
    {%if activity %}
      <li><a href="/intervention_admin/{{activity.clientsession.intervention.id}}/">Session List</a></li>
      <li>|</li>
      <li><a href="/intervention_admin/session/{{activity.clientsession.id}}/#activity{{activity.id}}">Edit Activity Title/Overview</a></li>
      <li>|</li>
    {%endif%}  
{% endblock %}


{% block content %}
     {{ block.super }}

     {% if activity %}
      <div>
	<a class="admin_link"  href="/activity/{{activity.id}}/">See client view of activity</a>
	<a class="admin_link"  href="#new" class="jumpnew">Jump to new procedure instructions</a>
	{% if activity.game %}
	  <a class="admin_link" href="/intervention_admin/task/{{activity.id}}/">Edit {{activity.game}} Game Instructions</a>	
	{% endif %}
      </div>
      <h1>Edit Activity {{activity.index}}: {{activity.long_title}}</h1>
      <h2>Procedure instructions</h2>
      <form id="subitem-management" method="POST" action="" enctype="multipart/form-data">
	<input type="submit" value="Save" />
	{{ formset.management_form }}
	<ul class="form-list">
	  {% for form in formset.forms %}
	    <li {%if form.instance.id %}
 	          id="pair{{form.instance.id}}"
	        {%else%}
	          id="new"
	        {%endif%}
		>
		<ul class="field-list">
		  {%if form.instance.image %}
		     <img align="left" height="100" src="{{form.instance.image.url}}" title="thumb: the image will be the default size in the client view" />
		  {%endif%}
		  {{form.as_ul}}
		</ul>
	    </li>
	  {% endfor %}
	</ul>
	<input type="submit" value="Save" />
      </form>


      {% else %}
        <p>No activity defined...</p>
      {% endif %}

{% endblock %}
