name: build-and-test
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ["3.12"]
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v6
      - name: Run eslint
        run: make eslint
      - name: Build with Makefile
        run: make jenkins
