{% extends "intervention/game.html" %}

{% block game_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/mochikit/MochiKit/MochiKit.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}js/mochikit/MochiKit/DragAndDrop.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/gamestate.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}pill_game/js/pillview.js"></script> 
    <script type="text/template" id="printable-bucket-template">
        <div>
            At <%= time %> take:
            <% _.each(pills, function(pill) { %> <li> <%= pill.count %> <%= pill.name %></li> <% }); %>
        </div>    
    </script>
    
    <script type="text/template" id="individual-pill-view">
        <div id=<%= id %> class="pill <%= mode %>">
            <div class="pill-delete">
                <input id="delete" class="pill-delete-image" type="image" src="{{STATIC_URL}}pill_game/images/button-delete.2.png" name="image" width="16" height="16"/>
            </div>
            <div class="pill-image"
             style="background-image: -webkit-gradient(radial, 65% 35%, 1, center center, 30, from(#ffffff), to(<%= color %>));
             background-image: -moz-radial-gradient(65% 35% 45deg, circle , #ffffff 1%, <%= color %> 100%); ">
                <span data-id="<%= id %>" class="draggable"
                 style="background-image: -webkit-gradient(radial, 65% 35%, 1, center center, 30, from(#ffffff), to(<%= color %>));
                 background-image: -moz-radial-gradient(65% 35% 45deg, circle , #ffffff 1%, <%= color %> 100%); ">
                </span>
            </div>
            <div class="pill-text"><span><%= name %></span><input type="text" value="<%= name %>"></input></div>
        </div>
    </script>
{% endblock %}

{% block game_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}pill_game/css/pill.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}pill_game/css/pill.print.css" type="text/css" media="print" />
{% endblock %}


{% block game_content %}
    <div id="mode">{{game_context.mode}}</div>
    
    <div id="medication-reminder" class="printonly">
        <h4>Remember</h4>
    </div>
    
    <div id="pill-game-container">
        <div id="pill-list">
            {% ifequal game_context.mode "practice" %}
                <h4>Practice ARVs</h4>
            {% else %}
                <h4>Medication List</h4>
                <div><a id="add-a-pill" class="add-a-pill" href="#">Add a Pill</a></div>
            {% endifequal %}
        </div>
        
        <div class="pill pill-template">
            <div class="pill-delete"><input id="delete" class="pill-delete-image" type="image" src="{{STATIC_URL}}pill_game/images/button-delete.2.png" name="image" width="16" height="16"/></div>
            <div class="pill-image">
                <span class="draggable"></span>
            </div>
            <div class="pill-text"><span></span><input type="text"></input></div>
        </div>
            
        <div class="pill-buckets">
            <div id="day" class="pill-bucket-container">
               <img src="{{STATIC_URL}}pill_game/images/bucket_day.png" class="printonly" />
               <div class="pill-bucket day"></div>
                <div id="day_time" class="time">
                   <span class="timelabel printonly"></span>
                   <select id="day_pills_time" size="1">
                        <option name="00:00" value="00:00">00:00</option>
                        <option name="01:00" value="01:00">01:00</option>
                        <option name="02:00" value="02:00">02:00</option>
                        <option name="03:00" value="03:00">03:00</option>
                        <option name="04:00" value="04:00">04:00</option>
                        <option name="05:00" value="05:00">05:00</option>
                        <option name="06:00" value="06:00">06:00</option>
                        <option name="07:00" value="07:00">07:00</option>
                        <option name="08:00" value="08:00">08:00</option>
                        <option name="09:00" value="09:00">09:00</option>
                        <option name="10:00" value="10:00">10:00</option>
                        <option name="11:00" value="11:00">11:00</option>
                        <option name="na" value="na" class="na">Not taken during day</option>
                    </select>
               </div>
            </div>
            
            <div id="night" class="pill-bucket-container">
                <img src="{{STATIC_URL}}pill_game/images/bucket_eve.png" class="printonly" />
                <div class="pill-bucket night"></div>
                <div id="night_time" class="time">
                   <span class="timelabel printonly"></span>
                   <select id="night_pills_time" size="1">
                        <option name="12:00" value="12:00">12:00</option>
                        <option name="13:00" value="13:00">13:00</option>
                        <option name="14:00" value="14:00">14:00</option>
                        <option name="15:00" value="15:00">15:00</option>
                        <option name="16:00" value="16:00">16:00</option>
                        <option name="17:00" value="17:00">17:00</option>
                        <option name="18:00" value="18:00">18:00</option>
                        <option name="19:00" value="19:00">19:00</option>
                        <option name="20:00" value="20:00">20:00</option>
                        <option name="21:00" value="21:00">21:00</option>
                        <option name="22:00" value="22:00">22:00</option>
                        <option name="23:00" value="23:00">23:00</option>
                        <option name="24:00" value="24:00">24:00</option>
                        <option name="na" value="na" class="na" >Not taken during evening</option>
                    </select>
                </div>
            </div>
         </div>
    </div>

{% endblock %}

